# 공부전 실행

In [1]:
# 데이터 가져오기
import sys, os, re
sys.path.append("data/preprocess/load_data/") # 기준은 현재 커서의 위치
import data_loader
customer_tb, hotel_tb, reserve_tb = data_loader.load_hotel_reserve()
production_tb = data_loader.load_production()
monthly_index_tb = data_loader.load_monthly_index()
production_tb = data_loader.load_production()


import pandas as pd
#reserve_tb = pd.read_csv('data/data/reserve.csv',encoding='UTF-8')

# 2장 추출

### 2.1 데이터 열 추출

In [3]:
# 데이터 추출
# 불필요한 처리를 없애줄 뿐만아니라 데이터 크리도 줄여주는 중요한 과정.

# loc 함수는 행/열 이름으로 추출 가능. 1차원 값 행 지정, 2차원값 열 지정
#  ':' 전체 행 출력 '0:2' 일부분 출력
reserve_tb.loc[0:2,['reserve_id','hotel_id','customer_id','reserve_datetime','checkin_date','checkin_time']]

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00

In [2]:
# drop 함수 불필요한 행/열을 제거
# axis 값은 0이면 '행'제거, 1이면 '열'제거
# inplace 값은 True면 반환값 없고 제거된 결과를 호출한 DF에 갱신, 
#                    False면 제거된 결과를 반환하고 호출한 DF는 갱신 안함.

# 장점 가독성이 떨어지지만 inplace를 True로 하면 복사할 필요가 없어 빠르고 메모리도 절약 가능.
reserve_tb.drop(['people_num','total_price'],axis=1, inplace=True)

### 2.2  조건에 따른 데이터 행 추출

In [9]:
reserve_tb.query(''' '2016-10-13'<= checkout_date <= '2016-10-14' ''')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
284,r285,h_121,c_67,2016-09-27 06:13:19,2016-10-12,12:00:00,2016-10-14,4,184000
513,r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
1065,r1066,h_205,c_261,2016-09-14 02:57:59,2016-10-11,10:00:00,2016-10-14,4,85200
1480,r1481,h_116,c_364,2016-09-17 17:45:39,2016-10-11,11:30:00,2016-10-13,4,107200
1546,r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600
1709,r1710,h_59,c_422,2016-09-19 04:17:25,2016-10-10,12:00:00,2016-10-13,2,148800
1932,r1933,h_113,c_477,2016-09-24 09:04:26,2016-10-12,11:30:00,2016-10-13,4,77200
2058,r2059,h_9,c_517,2016-09-19 15:32:35,2016-10-11,12:30:00,2016-10-13,3,188400
2115,r2116,h_77,c_527,2016-10-05 00:44:09,2016-10-11,09:00:00,2016-10-13,4,353600
2170,r2171,h_177,c_540,2016-09-28 01:21:26,2016-10-11,10:00:00,2016-10-13,4,560800
2203,r2204,h_82,c_549,2016-09-27 01:47:57,2016-10-10,12:00:00,2016-10-13,2,76200
2290,r2291,h_230,c_574,2016-10-09 04:34:14,2016-10-12,12:00:00,2016-10-13,1,17400
2523,r2524,h_203,c_631,2016-09-14 10:45:15,2016-10-12,10:30:00,2016-10-14,3,167400
2555,r2556,h_193,c_639,2016-09-11 17:36:25,2016-10-11,10:30:00,2016-10-14,4,702000
2734,r2735,h_178,c_690,2016-10-11 14:06:11,2016-10-11,09:00:00,2016-10-14,3,189000
3010,r3011,h_156,c_761,2016-10-09 08:22:07,2016-10-11,11:30:00,2016-10-14,3,165600
3136,r3137,h_218,c_792,2016-09-20 02:15:43,2016-10-10,10:30:00,2016-10-13,1,63000
3327,r3328,h_23,c_833,2016-09-28 08:22:57,2016-10-13,09:00:00,2016-10-14,4,260400
3605,r3606,h_147,c_900,2016-09-28 19:13:15,2016-10-10,12:00:00,2016-10-13,2,80400
3770,r3771,h_93,c_939,2016-09-27 05:50:26,2016-10-10,12:30:00,2016-10-13,1,29400

### 2.3  데이터 값을 고려하지 않은 샘플링

In [14]:
# 50%로 샘플링
reserve_tb.sample(frac=0.5)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
2604,r2605,h_173,c_650,2017-06-27 04:47:20,2017-07-10,10:30:00,2017-07-11,4,160000
1228,r1229,h_128,c_300,2017-08-19 00:41:20,2017-09-06,12:00:00,2017-09-09,2,55200
1602,r1603,h_168,c_391,2017-06-25 07:53:25,2017-07-08,11:00:00,2017-07-09,3,39900
408,r409,h_84,c_94,2016-07-27 14:51:46,2016-08-12,10:00:00,2016-08-14,2,97600
3738,r3739,h_52,c_930,2017-05-09 10:19:58,2017-05-17,11:30:00,2017-05-18,1,27100
1990,r1991,h_68,c_501,2016-06-21 07:09:07,2016-07-05,12:30:00,2016-07-08,4,103200
3544,r3545,h_139,c_881,2017-01-18 13:31:55,2017-01-29,11:00:00,2017-02-01,2,94800
1691,r1692,h_234,c_418,2016-08-21 20:10:24,2016-09-11,11:30:00,2016-09-13,4,44800
2974,r2975,h_2,c_750,2016-12-07 03:34:23,2016-12-09,12:00:00,2016-12-10,4,105600
1993,r1994,h_85,c_501,2016-11-11 17:01:10,2016-12-01,10:30:00,2016-12-04,4,258000
2634,r2635,h_29,c_660,2017-05-21 02:18:03,2017-06-01,09:00:00,2017-06-04,1,27900
1401,r1402,h_65,c_341,2017-09-03 09:59:42,2017-10-02,12:00:00,2017-10-05,4,100800
764,r765,h_52,c_184,2016-05-29 09:05:46,2016-06-23,10:00:00,2016-06-25,3,162600
1033,r1034,h_197,c_252,2017-10-13 10:21:15,2017-10-13,09:30:00,2017-10-15,3,24000
3929,r3930,h_147,c_979,2016-06-07 02:15:21,2016-06-26,09:30:00,2016-06-27,2,26800
1031,r1032,h_222,c_252,2017-04-27 17:45:19,2017-05-25,09:00:00,2017-05-28,4,240000
2595,r2596,h_4,c_648,2017-05-28 07:06:23,2017-06-20,09:00:00,2017-06-22,1,10400
2717,r2718,h_148,c_685,2017-03-07 11:23:20,2017-03-15,09:00:00,2017-03-18,4,117600
1728,r1729,h_81,c_426,2017-01-29 11:54:33,2017-02-02,10:30:00,2017-02-03,4,49600
3558,r3559,h_48,c_883,2016-01-19 03:53:28,2016-02-07,11:30:00,2016-02-08,2,90000
3536,r3537,h_265,c_880,2016-04-06 19:27:28,2016-04-25,10:00:00,2016-04-28,1,55800
349,r350,h_151,c_82,2017-06-16 11:12:14,2017-06-21,09:30:00,2017-06-24,2,249000
1307,r1308,h_152,c_319,2016-01-28 04:51:19,2016-02-21,09:30:00,2016-02-23,4,135200
585,r586,h_73,c_140,2017-11-12 11:36:42,2017-11-29,09:00:00,2017-12-01,4,159200
2576,r2577,h_290,c_645,2018-01-08 10:58:08,2018-01-12,11:30:00,2018-01-13,3,47700
1111,r1112,h_95,c_271,2017-04-07 04:18:54,2017-05-03,11:30:00,2017-05-06,1,129600
1495,r1496,h_231,c_367,2016-05-04 13:11:26,2016-05-16,12:00:00,2016-05-19,3,131400
372,r373,h_137,c_87,2016-01-29 21:21:31,2016-02-18,12:30:00,2016-02-21,4,74400
1314,r1315,h_198,c_321,2017-04-06 02:49:10,2017-04-07,10:30:00,2017-04-10,1,57900
2280,r2281,h_68,c_572,2016-08-03 20:30:36,2016-08-22,10:30:00,2016-08-23,3,25800
...,...,...,...,...,...,...,...,...,...
3181,r3182,h_40,c_800,2016-11-28 13:42:11,2016-11-28,11:30:00,2016-11-29,3,26700
2198,r2199,h_177,c_548,2017-08-04 19:04:23,2017-08-20,10:30:00,2017-08-23,1,210300
3628,r3629,h_215,c_904,2017-03-17 09:55:58,2017-04-09,09:00:00,2017-04-12,1,46200
2615,r2616,h_141,c_652,2018-07-03 22:19:37,2018-07-03,11:00:00,2018-07-04,4,70800
2499,r2500,h_82,c_624,2017-06-04 20:48:18,2017-06-27,11:30:00,2017-06-28,2,25400
2608,r2609,h_85,c_652,2016-01-21 10:11:36,2016-02-08,11:00:00,2016-02-11,4,258000
1235,r1236,h_205,c_301,2018-03-02 23:26:26,2018-03-25,12:30:00,2018-03-27,4,56800
369,r370,h_260,c_85,2017-01-23 15:55:23,2017-02-03,12:30:00,2017-02-04,4,164000
3412,r3413,h_47,c_851,2017-06-27 01:16:05,2017-07-07,11:30:00,2017-07-08,2,23200
963,r964,h_239,c_238,2016-08-26 15:19:17,2016-09-14,11:00:00,2016-09-16,3,339000
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600
2838,r2839,h_231,c_715,2016-04-06 02:51:01,2016-04-08,09:00:00,2016-04-10,1,29200
475,r476,h_149,c_109,2016-04-14 02:35:53,2016-04-17,10:00:00,2016-04-18,3,76800
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100
1369,r1370,h_234,c_336,2017-10-22 00:21:07,2017-11-20,11:30:00,2017-11-21,3,16800
3007,r3008,h_250,c_760,2016-11-27 19:21:21,2016-12-07,12:00:00,2016-12-10,3,232200
1464,r1465,h_79,c_359,2016-02-18 09:58:03,2016-02-18,09:30:00,2016-02-20,4,160000
3617,r3618,h_44,c_903,2016-01-10 19:19:15,2016-01-12,12:00:00,2016-01-14,2,19600
1274,r1275,h_43,c_310,2018-01-26 00:20:20,2018-01-27,09:00:00,2018-01-29,3,108600
3428,r3429,h_187,c_855,2016-08-19 18:11:30,2016-09-10,09:00:00,2016-09-12,1,36600
2263,r2264,h_138,c_564,2016-11-11 21:00:57,2016-11-15,09:00:00,2016-11-16,1,9600
614,r615,h_29,c_148,2016-05-30 14:38:58,2016-06-16,09:00:00,2016-06-17,4,37200
934,r935,h_66,c_229,2016-09-07 05:53:28,2016-09-09,12:30:00,2016-09-12,2,207600
2216,r2217,h_90,c_552,2017-04-02 15:30:42,2017-04-29,11:00:00,2017-05-02,4,96000
1345,r1346,h_127,c_328,2017-07-21 10:27:30,2017-07-25,12:30:00,2017-07-28,1,126000
2256,r2257,h_251,c_563,2016-10-15 00:11:26,2016-10-27,09:00:00,2016-10-30,2,34200
1971,r1972,h_275,c_492,2016-12-31 03:20:34,2017-01-01,10:30:00,2017-01-03,3,111600
2206,r2207,h_269,c_549,2017-01-24 17:00:40,2017-02-20,11:00:00,2017-02-22,4,540800
661,r662,h_272,c_160,2017-05-09 06:08:07,2017-05-14,09:00:00,2017-05-17,1,85200
2461,r2462,h_276,c_616,2016-08-12 00:24:25,2016-09-01,12:30:00,2016-09-03,1,79000

In [15]:
# 특정 개수로 샘플링 (랜덤하게 100개 출력)
reserve_tb.sample(n=100)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
2109,r2110,h_186,c_526,2016-04-16 00:30:24,2016-04-29,11:00:00,2016-05-01,1,15200
2220,r2221,h_273,c_553,2016-04-06 15:56:09,2016-04-20,12:00:00,2016-04-23,3,404100
1594,r1595,h_19,c_390,2016-11-05 17:31:30,2016-12-01,10:30:00,2016-12-03,1,24000
528,r529,h_150,c_124,2017-02-16 13:47:18,2017-03-16,09:30:00,2017-03-19,4,302400
2789,r2790,h_207,c_703,2016-06-05 02:24:39,2016-06-13,09:30:00,2016-06-16,3,79200
697,r698,h_15,c_171,2016-05-18 04:05:34,2016-05-28,11:00:00,2016-05-29,1,4300
3687,r3688,h_152,c_918,2016-11-04 08:40:39,2016-11-18,09:30:00,2016-11-21,4,202800
2010,r2011,h_214,c_505,2016-07-12 19:55:35,2016-08-04,10:30:00,2016-08-06,3,291600
3530,r3531,h_37,c_877,2017-09-26 13:39:56,2017-10-16,09:00:00,2017-10-18,1,50200
3636,r3637,h_276,c_906,2016-03-12 22:06:46,2016-04-10,10:00:00,2016-04-11,4,158000
474,r475,h_242,c_108,2018-11-07 22:19:18,2018-11-19,10:00:00,2018-11-20,1,8300
3650,r3651,h_133,c_909,2016-09-21 23:05:37,2016-10-10,11:00:00,2016-10-12,4,100800
2210,r2211,h_142,c_551,2016-07-19 23:03:03,2016-08-14,10:30:00,2016-08-17,1,27900
3822,r3823,h_192,c_953,2016-11-17 17:27:22,2016-12-03,09:00:00,2016-12-06,3,135000
1316,r1317,h_18,c_323,2017-01-07 10:48:05,2017-01-30,09:00:00,2017-01-31,1,27800
2274,r2275,h_223,c_570,2016-05-27 02:27:50,2016-06-03,10:00:00,2016-06-04,4,274000
1554,r1555,h_19,c_378,2018-01-29 04:48:14,2018-02-02,12:00:00,2018-02-05,2,72000
1710,r1711,h_284,c_422,2016-12-26 14:37:26,2017-01-14,12:00:00,2017-01-15,3,30000
632,r633,h_81,c_153,2016-04-14 04:16:13,2016-04-28,10:00:00,2016-04-29,4,49600
2901,r2902,h_209,c_731,2018-03-05 04:42:33,2018-03-19,11:30:00,2018-03-21,1,34400
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000
1489,r1490,h_87,c_366,2016-12-23 19:31:27,2017-01-14,11:30:00,2017-01-15,4,24800
3160,r3161,h_204,c_796,2017-03-03 11:49:26,2017-03-21,10:30:00,2017-03-24,2,72600
309,r310,h_219,c_73,2017-03-30 01:52:36,2017-04-18,11:00:00,2017-04-21,1,30900
922,r923,h_42,c_226,2016-11-03 00:36:36,2016-11-23,10:00:00,2016-11-24,3,33900
403,r404,h_25,c_93,2016-05-13 15:30:08,2016-05-28,12:30:00,2016-05-30,3,60600
2871,r2872,h_253,c_723,2017-10-06 04:42:38,2017-11-02,10:30:00,2017-11-05,4,62400
1109,r1110,h_33,c_271,2016-06-20 04:32:02,2016-06-20,10:00:00,2016-06-21,2,15000
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200
1331,r1332,h_62,c_326,2016-09-03 05:14:26,2016-09-18,09:30:00,2016-09-19,1,46800
...,...,...,...,...,...,...,...,...,...
2961,r2962,h_155,c_748,2016-10-21 12:17:30,2016-11-17,11:00:00,2016-11-20,2,144600
1193,r1194,h_59,c_291,2016-04-21 19:47:12,2016-05-06,10:30:00,2016-05-07,4,99200
2028,r2029,h_23,c_512,2016-07-19 21:39:04,2016-08-04,10:30:00,2016-08-06,2,260400
2569,r2570,h_298,c_643,2016-06-29 07:52:56,2016-07-13,11:00:00,2016-07-16,2,58800
3210,r3211,h_178,c_806,2017-04-26 11:13:14,2017-05-21,10:00:00,2017-05-24,1,63000
2375,r2376,h_119,c_598,2017-11-15 11:45:44,2017-11-20,09:30:00,2017-11-21,3,19800
954,r955,h_174,c_236,2016-08-03 14:43:07,2016-08-09,12:00:00,2016-08-11,2,88000
2223,r2224,h_70,c_554,2016-06-17 14:25:27,2016-07-06,10:00:00,2016-07-09,3,70200
2209,r2210,h_208,c_551,2016-05-26 09:00:07,2016-06-24,12:30:00,2016-06-27,2,53400
192,r193,h_4,c_45,2017-07-19 15:13:50,2017-07-31,11:00:00,2017-08-01,4,20800
745,r746,h_102,c_180,2016-11-20 10:09:20,2016-11-20,10:00:00,2016-11-23,3,54000
1149,r1150,h_296,c_280,2017-04-08 17:55:39,2017-04-21,09:30:00,2017-04-23,3,103200
2427,r2428,h_210,c_608,2016-02-27 08:18:19,2016-02-29,09:00:00,2016-03-01,3,29100
3549,r3550,h_82,c_881,2018-04-09 08:46:05,2018-05-09,10:00:00,2018-05-12,2,76200
3872,r3873,h_253,c_962,2017-06-08 03:56:26,2017-07-06,12:00:00,2017-07-08,1,10400
2140,r2141,h_71,c_532,2016-03-19 02:12:38,2016-03-30,11:30:00,2016-04-01,2,92000
1309,r1310,h_271,c_320,2016-08-30 02:56:55,2016-09-19,09:30:00,2016-09-21,2,34800
2963,r2964,h_292,c_748,2017-04-10 11:49:28,2017-04-13,11:00:00,2017-04-14,4,36400
808,r809,h_276,c_196,2017-10-09 23:22:11,2017-11-02,09:00:00,2017-11-03,3,118500
70,r71,h_183,c_11,2018-04-14 19:30:43,2018-04-19,11:00:00,2018-04-21,3,59400
300,r301,h_44,c_70,2016-11-18 17:29:29,2016-11-23,10:30:00,2016-11-24,4,19600
3697,r3698,h_263,c_919,2018-04-08 23:50:30,2018-04-24,12:30:00,2018-04-26,2,91600
2357,r2358,h_158,c_593,2016-06-16 16:38:21,2016-06-23,10:00:00,2016-06-26,2,59400
1240,r1241,h_174,c_303,2016-10-07 06:37:27,2016-10-21,10:30:00,2016-10-24,4,264000
2742,r2743,h_257,c_692,2016-11-08 00:11:29,2016-11-20,10:30:00,2016-11-23,4,96000
3190,r3191,h_113,c_803,2016-05-29 06:20:15,2016-06-05,10:00:00,2016-06-07,4,154400
132,r133,h_242,c_27,2016-06-15 04:53:54,2016-07-07,10:00:00,2016-07-09,1,16600
1712,r1713,h_52,c_423,2016-08-25 19:54:20,2016-08-25,10:30:00,2016-08-28,1,81300
2779,r2780,h_53,c_701,2016-03-09 08:22:07,2016-03-24,12:30:00,2016-03-27,3,33300
3959,r3960,h_39,c_984,2016-04-14 22:16:50,2016-05-11,10:00:00,2016-05-12,2,10000

### 2.4  집약 ID에 기반한 샘플링

샘플링을 어떤 기준으로 해야 될 때 공평하게 샘플링하기 위한 방법

왜 이렇게 하는지 이해가 안됨..
최대한 공평하게 샘플링 하려면 그냥 전체에 랜덤으로 하는게 좋지 않나.

In [26]:
# reserve_tb['customer_id'].unique()는 중복을 제거한 customer_id를 반환합니다.
# sample 함수를 이용하기 위해서 pandas.Series(pandas의 리스트 오브젝트)로 변환
# sample 함수로 고객 ID를 샘플링
target = pd.Series(reserve_tb['customer_id'].unique()).sample(frac=0.5)

# isin 함수를 이용하여 customer_id가 샘플링한 고객 ID 중에 존재하면, 해당 행을 추출
reserve_tb[reserve_tb['customer_id'].isin(target)]

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000
30,r31,h_143,c_4,2017-08-17 03:16:51,2017-09-14,10:30:00,2017-09-15,4,79200
31,r32,h_287,c_4,2017-11-02 19:00:21,2017-11-05,10:00:00,2017-11-07,1,29000
45,r46,h_146,c_8,2016-04-01 10:44:33,2016-04-02,09:30:00,2016-04-05,3,383400
46,r47,h_56,c_8,2016-06-15 07:00:28,2016-07-02,10:00:00,2016-07-05,3,287100
47,r48,h_299,c_8,2016-10-05 08:53:39,2016-10-14,09:30:00,2016-10-16,1,48400
48,r49,h_183,c_8,2017-01-25 00:25:04,2017-02-14,12:30:00,2017-02-17,1,29700
49,r50,h_176,c_8,2017-06-12 10:21:33,2017-07-01,11:00:00,2017-07-02,4,69600
50,r51,h_207,c_8,2017-11-05 01:53:19,2017-11-19,12:00:00,2017-11-21,3,52800
51,r52,h_152,c_8,2017-12-30 22:27:20,2018-01-16,11:00:00,2018-01-18,4,135200
52,r53,h_149,c_8,2018-05-08 10:44:17,2018-05-12,12:00:00,2018-05-13,3,76800
53,r54,h_170,c_9,2016-03-18 21:40:15,2016-04-06,12:00:00,2016-04-08,2,98800
54,r55,h_55,c_9,2016-07-05 05:39:25,2016-07-21,11:30:00,2016-07-22,2,28400
55,r56,h_33,c_9,2016-11-04 14:04:58,2016-12-01,12:30:00,2016-12-03,4,60000
56,r57,h_25,c_9,2016-12-11 22:04:58,2016-12-20,09:30:00,2016-12-21,2,20200
57,r58,h_187,c_9,2017-04-02 17:22:52,2017-04-07,11:30:00,2017-04-10,3,164700
64,r65,h_221,c_11,2016-01-24 18:58:29,2016-02-19,12:30:00,2016-02-22,2,33000
...,...,...,...,...,...,...,...,...,...
3981,r3982,h_132,c_988,2017-04-19 12:57:04,2017-04-30,11:30:00,2017-05-01,2,40800
3982,r3983,h_233,c_988,2017-09-26 15:31:19,2017-10-02,10:00:00,2017-10-05,1,26700
3983,r3984,h_291,c_988,2017-12-07 10:19:12,2017-12-16,10:00:00,2017-12-19,1,100500
3984,r3985,h_261,c_988,2018-02-07 22:44:53,2018-02-17,09:00:00,2018-02-19,3,61800
3985,r3986,h_224,c_988,2018-06-11 01:07:30,2018-06-17,09:30:00,2018-06-19,3,24000
3991,r3992,h_241,c_992,2016-04-06 07:58:32,2016-04-16,12:30:00,2016-04-17,1,6000
3992,r3993,h_170,c_992,2016-05-19 15:27:07,2016-06-06,11:00:00,2016-06-08,4,197600
3993,r3994,h_239,c_992,2016-06-30 09:11:47,2016-07-29,09:30:00,2016-07-31,4,452000
3994,r3995,h_278,c_992,2016-11-30 23:07:57,2016-12-01,12:00:00,2016-12-02,3,31800
3995,r3996,h_208,c_992,2017-01-10 10:15:59,2017-01-15,12:30:00,2017-01-17,4,71200
3996,r3997,h_143,c_992,2017-02-23 09:24:00,2017-03-03,09:00:00,2017-03-05,1,39600
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100

# 3장 집약

#### 집약이란?
데이터의 가치를 되도록 손실 없이 압축하여 데이터의 단위(데이터 행의 의미)를 변환할 수 있도록 하는 처리를 의미

### 3.1 데이터와 종류의 개수 산출

agg 함수를 이용하여 집약 처리를 한꺼번에 지정

reserve_id를 대상으로 count 함수를 적용

customer_id를 대상으로 nunique 함수를 적용

In [11]:
result = reserve_tb \
  .groupby('hotel_id') \
  .agg({'reserve_id': 'count', 'customer_id': 'nunique'})

# reset_index 함수로 열 번호를 다시 설정（inplace=True 이기 때문에 직접 result를 갱신）
result.reset_index(inplace=True)
result.columns = ['hotel_id', 'rsv_cnt', 'cus_cnt']
result

    hotel_id  rsv_cnt  cus_cnt
0        h_1       10       10
1       h_10        3        3
2      h_100       20       19
3      h_101       17       17
4      h_102       13       13
5      h_103       10       10
6      h_104       11       11
7      h_105       15       15
8      h_106        9        9
9      h_107       11       11
10     h_108       12       12
11     h_109       12       12
12      h_11       18       18
13     h_110       13       13
14     h_111       15       15
15     h_112       10       10
16     h_113       13       12
17     h_114       11       11
18     h_115       17       17
19     h_116       16       16
20     h_117       13       13
21     h_118       17       17
22     h_119       17       15
23      h_12       10       10
24     h_120       15       15
25     h_121       13       13
26     h_122       13       13
27     h_123       11       11
28     h_124       10       10
29     h_125       13       13
..       ...      ...      ...
270     h_72       19       19
271     h_73       14       14
272     h_74       11       11
273     h_75       12       12
274     h_76        6        6
275     h_77       16       16
276     h_78       19       19
277     h_79       11       11
278      h_8       10       10
279     h_80       15       15
280     h_81       12       12
281     h_82       23       23
282     h_83        9        9
283     h_84       10       10
284     h_85       14       14
285     h_86       10       10
286     h_87       12       12
287     h_88       13       13
288     h_89       13       13
289      h_9       11       11
290     h_90       17       17
291     h_91       11       10
292     h_92       17       17
293     h_93       10       10
294     h_94       15       15
295     h_95       13       13
296     h_96       13       13
297     h_97       16       16
298     h_98       17       16
299     h_99       14       14

[300 rows x 3 columns]

### 3.2 합곗값 계산

월별 매출을 알아야 하거나 등 분석 대상의 값이 숫자일 때 데이터의 합을 계산

In [77]:
# 집약 단위를 hotel_id와 people_num의 조합으로 지정
# 집약한 데이터에서 total_price를 추출하여, sum함수에 적용하여 매출 합계 금액을 산출
result = reserve_tb \
  .groupby(['hotel_id', 'people_num'])['total_price'] \
  .sum().reset_index()

# 매출 합계 금액의 열 이름이 total_price로 되어 있는 것을price_sum으로 변경
result.rename(columns={'total_price': 'price_sum'}, inplace=True)
result

     hotel_id  people_num  price_sum
0         h_1           1     156600
1         h_1           2     156600
2         h_1           3     391500
3         h_1           4     417600
4        h_10           1      11200
5        h_10           3      50400
6        h_10           4      67200
7       h_100           1      19200
8       h_100           2     105600
9       h_100           3     158400
10      h_100           4     268800
11      h_101           1     182000
12      h_101           2     140000
13      h_101           3     462000
14      h_101           4     504000
15      h_102           1      36000
16      h_102           2      48000
17      h_102           3     198000
18      h_102           4     144000
19      h_103           1      32400
20      h_103           2     226800
21      h_103           3      97200
22      h_103           4     583200
23      h_104           1     295400
24      h_104           2     759600
25      h_104           3     886200
26      h_105           1     103000
27      h_105           2     226600
28      h_105           3     154500
29      h_105           4     247200
...       ...         ...        ...
1129     h_92           2     688000
1130     h_92           3    1032000
1131     h_92           4    1376000
1132     h_93           1      78400
1133     h_93           2      58800
1134     h_93           3      58800
1135     h_93           4     352800
1136     h_94           1      94200
1137     h_94           2     157000
1138     h_94           3     423900
1139     h_94           4     628000
1140     h_95           1     216000
1141     h_95           2     864000
1142     h_95           3     259200
1143     h_95           4    2246400
1144     h_96           1       7400
1145     h_96           2     133200
1146     h_96           3     199800
1147     h_96           4      88800
1148     h_97           1     167200
1149     h_97           2     376200
1150     h_97           3     125400
1151     h_97           4     668800
1152     h_98           1     132300
1153     h_98           2     264600
1154     h_98           3     793800
1155     h_98           4     453600
1156     h_99           1     179200
1157     h_99           2     448000
1158     h_99           4    1164800

[1159 rows x 3 columns]

### 3.3 최댓값, 최솟값, 대푯값 산출

* 대푯값 = 중앙값 = 50% 백분위

In [44]:
# max/min/mean/median 함수에 total_price를 대상으로 적용
# Python의 람다 식을 agg 함수의 집약 처리에 지정
# 람다 식에는 numpy.percentile을 지정하여 백분위 값을 산출(20%를 지정)
result = reserve_tb \
  .groupby('hotel_id') \
  .agg({'total_price': ['max', 'min', 'mean', 'median',
                        lambda x: np.percentile(x, q=20)]}) \
  .reset_index()
result.columns = ['hotel_id', 'price_max', 'price_min', 'price_mean','price_median', 'price_20per']
result

    hotel_id  price_max  price_min     price_mean  price_median  price_20per
0        h_1     208800      26100  112230.000000        104400        73080
1       h_10      67200      11200   42933.333333         50400        26880
2      h_100      57600       4800   27600.000000         28800         9600
3      h_101     168000      14000   75764.705882         56000        30800
4      h_102      72000      12000   32769.230769         24000        18000
5      h_103     194400      32400   93960.000000         64800        48600
6      h_104     379800      42200  176472.727273        126600        84400
7      h_105      82400      20600   48753.333333         41200        30900
8      h_106     199800      44400  101133.333333         88800        57720
9      h_107     225600      37600  107672.727273        112800        75200
10     h_108     103200       8600   50166.666667         43000        17200
11     h_109      94500      10500   49000.000000         36750        23100
12      h_11     448800      37400  236866.666667        224400       127160
13     h_110     316800      26400  125907.692308        105600        79200
14     h_111     523200      43600  200560.000000        174400        87200
15     h_112     312000      78000  152100.000000        136500       109200
16     h_113     231600      19300  118769.230769        115800        57900
17     h_114     153600      19200   59345.454545         38400        38400
18     h_115     492000      82000  233941.176471        164000       131200
19     h_116     120600      13400   64487.500000         53600        26800
20     h_117     176400      14700   89330.769231         58800        29400
21     h_118     129600      10800   50188.235294         43200        21600
22     h_119      79200       6600   39211.764706         39600        19800
23      h_12      80400      13400   41540.000000         26800        20100
24     h_120     347200      43400  153346.666667        130200        86800
25     h_121     207000      23000  127384.615385        138000        69000
26     h_122      80400      13400   35561.538462         26800        20100
27     h_123      67200      16800   35127.272727         33600        22400
28     h_124     799200     133200  326340.000000        233100       186480
29     h_125     129600      21600   58984.615385         43200        32400
..       ...        ...        ...            ...           ...          ...
270     h_72     116400       9700   41352.631579         38800        19400
271     h_73     238800      39800  110871.428571         99500        51740
272     h_74      38400       9600   23127.272727         28800        14400
273     h_75      97200      16200   49950.000000         36450        24300
274     h_76     110400       9200   50600.000000         32200         9200
275     h_77     530400      44200  226525.000000        154700        88400
276     h_78     128400      10700   46178.947368         32100        21400
277     h_79     240000      20000   78181.818182         60000        40000
278      h_8     111600      12400   60760.000000         49600        22320
279     h_80     440400      36700  159033.333333        146800        73400
280     h_81     111600      12400   49600.000000         49600        27280
281     h_82     152400      12700   54665.217391         50800        25400
282     h_83     559800     124400  317911.111111        248800       186600
283     h_84     292800      48800  175680.000000        146400        92720
284     h_85     258000      21500  122857.142857         86000        64500
285     h_86     256800      64200  124120.000000         85600        64200
286     h_87      55800       6200   27383.333333         24800        13640
287     h_88     218700      24300  123369.230769         97200        72900
288     h_89     105600       8800   44676.923077         35200        21120
289      h_9     376800      31400  117036.363636         62800        31400
290     h_90      96000       8000   52235.294118         64000        16000
291     h_91     552000      92000  238363.636364        184000        92000
292     h_92     412800      34400  188188.235294        137600       137600
293     h_93     117600      19600   54880.000000         39200        27440
294     h_94     188400      15700   86873.333333         62800        43960
295     h_95     518400      43200  275815.384615        259200       146880
296     h_96      66600       7400   33015.384615         29600        17760
297     h_97     250800      20900   83600.000000         62700        20900
298     h_98     226800      18900   96723.529412         75600        56700
299     h_99     268800      44800  128000.000000         89600        67200

[300 rows x 6 columns]

### 3.4 분포 계산

분산값과 표준편찻값은 데이터 분포 정도를 나타낸다.

##### 주의 할점 
분산값과 표준편찻값의 계산식에서 데이터수-1을 이용해 나누는 부분이 있다
이때 데이터 수가 1개이면 1-1=0으로 나누어 잘못된 값이 나온다
데이터 1가 1개라는 것은 분포의 의미가 없으므로 분산값 표준편찻값 모두 0으로 만들어준다.

데이터의 전체적인 경향을 더욱 잘 표현 할 수 있다.

In [55]:
# 아래 부터 책에 게재
# total_price를 var 함수와 std 함수에 적용하여 분산값과 표준편차를 계산
result = reserve_tb \
  .groupby('hotel_id') \
  .agg({'total_price': ['var', 'std']}).reset_index()
result.columns = ['hotel_id', 'price_var', 'price_std']

# 데이터가 1건이면, 분산값과 표준 편차 값이 na가 되므로 0으로 변환
result.fillna(0, inplace=True)
result

    hotel_id     price_var      price_std
0        h_1  3.186549e+09   56449.526127
1       h_10  8.258133e+08   28736.968061
2      h_100  3.198316e+08   17883.835689
3      h_101  2.402441e+09   49014.703676
4      h_102  3.576923e+08   18912.755159
5      h_103  3.545856e+09   59547.090609
6      h_104  1.168879e+10  108114.689945
7      h_105  4.162770e+08   20402.866279
8      h_106  3.217150e+09   56719.925952
9      h_107  2.833946e+09   53234.821140
10     h_108  1.208013e+09   34756.486205
11     h_109  8.886818e+08   29810.766816
12      h_11  1.629144e+10  127637.925398
13     h_110  5.825871e+09   76327.391998
14     h_111  2.221408e+10  149043.870819
15     h_112  5.222100e+09   72264.098970
16     h_113  4.894901e+09   69963.566526
17     h_114  2.097897e+09   45802.802614
18     h_115  1.676056e+10  129462.576923
19     h_116  1.441717e+09   37969.950838
20     h_117  4.050302e+09   63641.985416
21     h_118  1.034322e+09   32160.882341
22     h_119  4.109374e+08   20271.589798
23      h_12  7.661227e+08   27678.920981
24     h_120  9.651003e+09   98239.516828
25     h_121  3.757256e+09   61296.463277
26     h_122  4.068876e+08   20171.454189
27     h_123  2.451782e+08   15658.166617
28     h_124  4.479916e+10  211658.111113
29     h_125  1.120043e+09   33467.044640
..       ...           ...            ...
270     h_72  7.510693e+08   27405.643547
271     h_73  4.064542e+09   63753.762225
272     h_74  8.210618e+07    9061.246152
273     h_75  1.095488e+09   33098.159795
274     h_76  2.259888e+09   47538.279313
275     h_77  2.914180e+10  170709.685334
276     h_78  1.221896e+09   34955.631861
277     h_79  4.196364e+09   64779.345754
278      h_8  1.860496e+09   43133.467285
279     h_80  1.128822e+10  106246.039702
280     h_81  7.268655e+08   26960.442403
281     h_82  1.091417e+09   33036.599659
282     h_83  2.557733e+10  159929.144033
283     h_84  8.705486e+09   93303.195134
284     h_85  7.426478e+09   86177.015625
285     h_86  6.085780e+09   78011.406573
286     h_87  2.617997e+08   16180.225492
287     h_88  4.474097e+09   66888.693422
288     h_89  7.803569e+08   27934.869305
289      h_9  1.224383e+10  110651.843841
290     h_90  1.016941e+09   31889.515150
291     h_91  2.827745e+10  168159.015653
292     h_92  1.022388e+10  101113.215521
293     h_93  1.412855e+09   37587.964977
294     h_94  3.129249e+09   55939.692867
295     h_95  3.313772e+10  182037.696857
296     h_96  3.159231e+08   17774.225072
297     h_97  5.474685e+09   73991.116584
298     h_98  3.432893e+09   58590.896578
299     h_99  5.745428e+09   75798.599541

[300 rows x 3 columns]

### 3.5 반올림(최빈값 구하는데 사용)

나이같은 연속적인 값을 10대 20대 처럼 범주형으로 바꾸기위해

반올림 내림 올림 등으로 처리해주는 것

ROUND 함수: 반올림 하는 함수  

* 예를들어 356.44 경우 

0으로 설정하면 소수점 0.1자리에서 반올림 => 356

1로 설정하면 0.01자리에서 반올림 => 356.4

-1로 설정하면 1의 자리에서 반올림 => 360

In [ ]:
# round 함수로 반올림한 후 mode 함수로 최빈값 계산
reserve_tb['total_price'].round(-3).mode()

### 3.6 순위 계산

파이썬에선  rank함수를 이용한다.

rank함수는 문자열을 처리할 수 없다.

그래서 자료형을 문자열에서 timestamp형으로 변환해야된다.

In [9]:
# rank 함수로 정렬하기 위해서 데이터형을 문자열에서 timestamp형으로 변환
# （"제 10장 일시형"에서 설명）
reserve_tb['reserve_datetime'] = pd.to_datetime(
  reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S'
)

# log_no를 새로운 열로 추가
# group_by를 이용하여 집약 단위 설정
# 고객 별로 묶은 reserve_datetime을 생성하여 rank 함수로 순위를 계산
# ascending을 True로 하여 오름 차순으로 정렬(False면 내림차순)
reserve_tb['log_no'] = reserve_tb \
  .groupby('customer_id')['reserve_datetime'] \
  .rank(ascending=True, method='first')

reserve_tb.loc[:,['customer_id','reserve_datetime','log_no']]

     customer_id    reserve_datetime  log_no
0            c_1 2016-03-06 13:09:42     1.0
1            c_1 2016-07-16 23:39:55     2.0
2            c_1 2016-09-24 10:03:17     3.0
3            c_1 2017-03-08 03:20:10     4.0
4            c_1 2017-09-05 19:50:37     5.0
5            c_1 2017-11-27 18:47:05     6.0
6            c_1 2017-12-29 10:38:36     7.0
7            c_1 2018-05-26 08:42:51     8.0
8            c_2 2016-03-05 13:31:06     1.0
9            c_2 2016-06-25 09:12:22     2.0
10           c_2 2016-11-19 12:49:10     3.0
11           c_2 2017-05-24 10:06:21     4.0
12           c_2 2017-10-19 03:03:30     5.0
13           c_2 2018-02-18 05:12:58     6.0
14           c_2 2018-04-19 11:25:00     7.0
15           c_2 2018-07-06 04:18:28     8.0
16           c_3 2016-05-10 12:20:32     1.0
17           c_3 2016-10-22 02:18:48     2.0
18           c_3 2017-01-11 22:54:09     3.0
19           c_3 2017-02-23 07:10:30     4.0
20           c_3 2017-04-06 18:12:10     5.0
21           c_3 2017-07-24 19:15:54     6.0
22           c_3 2017-12-16 23:31:04     7.0
23           c_3 2018-04-27 08:51:07     8.0
24           c_4 2016-03-28 07:17:34     1.0
25           c_4 2016-05-11 17:48:07     2.0
26           c_4 2016-07-08 14:10:06     3.0
27           c_4 2016-10-07 04:38:54     4.0
28           c_4 2016-11-10 21:59:02     5.0
29           c_4 2017-03-14 23:02:05     6.0
...          ...                 ...     ...
4000       c_993 2017-01-20 18:50:35     4.0
4001       c_993 2017-02-20 16:13:02     5.0
4002       c_993 2017-08-01 23:47:40     6.0
4003       c_993 2017-08-31 01:33:58     7.0
4004       c_994 2016-03-25 11:51:26     1.0
4005       c_995 2016-05-14 21:35:27     1.0
4006       c_995 2016-07-11 06:45:26     2.0
4007       c_995 2016-11-02 06:42:54     3.0
4008       c_995 2016-12-10 19:23:02     4.0
4009       c_995 2017-02-04 02:00:05     5.0
4010       c_995 2017-08-13 19:23:48     6.0
4011       c_995 2018-03-08 03:54:07     7.0
4012       c_995 2018-07-04 18:54:55     8.0
4013       c_996 2016-05-29 18:33:42     1.0
4014       c_996 2016-12-03 21:40:17     2.0
4015       c_996 2016-12-29 02:10:09     3.0
4016       c_996 2017-06-19 11:26:29     4.0
4017       c_996 2017-08-20 17:56:37     5.0
4018       c_996 2017-12-10 19:39:53     6.0
4019       c_996 2018-04-22 20:41:29     7.0
4020       c_997 2016-01-08 20:30:10     1.0
4021       c_997 2016-05-13 09:08:55     2.0
4022       c_999 2016-04-21 21:50:14     1.0
4023       c_999 2016-10-06 18:01:34     2.0
4024       c_999 2017-03-11 11:56:05     3.0
4025       c_999 2017-06-27 23:00:02     4.0
4026       c_999 2017-09-29 05:24:57     5.0
4027       c_999 2018-03-14 05:01:45     6.0
4028      c_1000 2016-04-16 15:20:17     1.0
4029      c_1000 2016-06-06 08:16:51     2.0

[4030 rows x 3 columns]

### 3.7 랭킹

3.6과 별차이는 없다.

다만 method에서 min으로 설정해 같은 값이면 둘다 최소 순위로 지정하도록 함

판다스에서 rank로 순위 관련은 다 처리하는 듯?

In [11]:
# 예약 횟수를 계산 ("3-1 데이터의 수 및 종류의 수 계산"의 예제 참고)
rsv_cnt_tb = reserve_tb.groupby('hotel_id').size().reset_index()
rsv_cnt_tb.columns = ['hotel_id', 'rsv_cnt']

# 예약 횟수를 기준으로 순위를 계산
# ascending을 False로 하여 내림 차순으로 지정(많은 것부터 높은 순위 True로 설정하면 적은게 1등됨)
# method를 min으로 지정하여, 값이 같은 경우엔 최소 순위를 지정
rsv_cnt_tb['rsv_cnt_rank'] = rsv_cnt_tb['rsv_cnt'] \
  .rank(ascending=False, method='min')

# 불필요한 rsv_cnt열을 제거
rsv_cnt_tb.drop('rsv_cnt', axis=1, inplace=True)
rsv_cnt_tb.sort_values(["rsv_cnt_rank"], ascending=[True])

    hotel_id  rsv_cnt_rank
158    h_241           1.0
50     h_144           2.0
231     h_37           3.0
48     h_142           3.0
281     h_82           5.0
87     h_178           5.0
129    h_215           7.0
117    h_204           7.0
228     h_34           7.0
58     h_151          10.0
252     h_56          10.0
63     h_156          12.0
59     h_152          12.0
145     h_23          12.0
2      h_100          12.0
138    h_223          12.0
171    h_253          12.0
100     h_19          12.0
102    h_191          12.0
44     h_139          20.0
155    h_239          20.0
192    h_272          20.0
197    h_277          20.0
276     h_78          20.0
270     h_72          20.0
258     h_61          20.0
221    h_299          20.0
75     h_167          20.0
239     h_44          20.0
67      h_16          20.0
..       ...           ...
207    h_286         268.0
32     h_128         268.0
47     h_141         268.0
57     h_150         268.0
60     h_153         268.0
130    h_216         268.0
90     h_180         268.0
233     h_39         268.0
123     h_21         268.0
141    h_226         268.0
167     h_25         268.0
113    h_200         268.0
144    h_229         268.0
99     h_189         268.0
98     h_188         268.0
89      h_18         286.0
219    h_297         286.0
238     h_43         286.0
183    h_264         286.0
159    h_242         286.0
178     h_26         286.0
176    h_258         286.0
199    h_279         293.0
274     h_76         293.0
65     h_158         293.0
254     h_58         293.0
33     h_129         297.0
78      h_17         297.0
46     h_140         297.0
1       h_10         300.0

[300 rows x 2 columns]

# 4장 결합

#### 결합이란?
데이터를 분석하기 위해선 하나의 테이블에 모두 정리된 테이블이 이상적

### 4.1 조인

merge 함수를 이용해서 결합

merge 함수는 중간 데이터가 커지거나 처리가 느려지는 증의 단점 있다

### 주의!!
join은 모든 처리 중 가장 계산량이 많아지기 쉽다.

그래서 테이블을 결합하고 조건문으로 줄이는 것 보다

미리 테이블을 조건으로 줄여 놓고 결합하는게 효과적이다.

In [12]:
# 결합 전 미리 조건으로 테이블 줄여주고 결합 한 좋은 코드이다
pd.merge(reserve_tb.query('people_num == 1'),
         hotel_tb.query('is_business'),
         on='hotel_id', how='inner')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,base_price,big_area_name,small_area_name,hotel_latitude,hotel_longitude,is_business
0,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,34500,C,C-1,38.237294,140.696131,True
1,r997,h_256,c_244,2016-10-15 22:47:40,2016-10-31,10:30:00,2016-11-02,1,69000,34500,C,C-1,38.237294,140.696131,True
2,r2602,h_256,c_650,2016-05-10 00:42:56,2016-05-12,11:00:00,2016-05-14,1,69000,34500,C,C-1,38.237294,140.696131,True
3,r3738,h_256,c_930,2017-04-12 09:53:00,2017-05-08,11:30:00,2017-05-09,1,34500,34500,C,C-1,38.237294,140.696131,True
4,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,9900,G,G-4,33.595248,130.633567,True
5,r49,h_183,c_8,2017-01-25 00:25:04,2017-02-14,12:30:00,2017-02-17,1,29700,9900,G,G-4,33.595248,130.633567,True
6,r1336,h_183,c_326,2017-12-16 15:30:46,2018-01-08,09:30:00,2018-01-09,1,9900,9900,G,G-4,33.595248,130.633567,True
7,r1910,h_183,c_472,2016-10-18 10:19:33,2016-11-14,09:30:00,2016-11-17,1,29700,9900,G,G-4,33.595248,130.633567,True
8,r2656,h_183,c_669,2016-03-15 03:16:38,2016-04-13,10:30:00,2016-04-16,1,29700,9900,G,G-4,33.595248,130.633567,True
9,r2714,h_183,c_683,2016-06-29 12:37:09,2016-07-13,12:30:00,2016-07-16,1,29700,9900,G,G-4,33.595248,130.633567,True
10,r2894,h_183,c_728,2016-06-26 06:56:39,2016-07-07,10:30:00,2016-07-10,1,29700,9900,G,G-4,33.595248,130.633567,True
11,r3686,h_183,c_918,2016-02-29 23:24:34,2016-03-24,09:30:00,2016-03-26,1,19800,9900,G,G-4,33.595248,130.633567,True
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,68500,C,C-2,38.329097,140.698165,True
13,r432,h_223,c_99,2017-08-07 11:34:54,2017-08-07,12:00:00,2017-08-08,1,68500,68500,C,C-2,38.329097,140.698165,True
14,r707,h_223,c_172,2017-07-26 12:15:28,2017-07-26,10:00:00,2017-07-29,1,205500,68500,C,C-2,38.329097,140.698165,True
15,r2650,h_223,c_666,2016-11-23 13:24:28,2016-12-22,11:30:00,2016-12-25,1,205500,68500,C,C-2,38.329097,140.698165,True
16,r3178,h_223,c_799,2017-09-09 23:52:12,2017-09-27,10:00:00,2017-09-29,1,137000,68500,C,C-2,38.329097,140.698165,True
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,20400,C,C-1,38.231842,140.797268,True
18,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,20400,C,C-1,38.231842,140.797268,True
19,r656,h_132,c_157,2017-11-13 09:28:45,2017-11-24,09:00:00,2017-11-26,1,40800,20400,C,C-1,38.231842,140.797268,True
20,r3287,h_132,c_826,2016-02-24 18:08:50,2016-03-19,11:00:00,2016-03-20,1,20400,20400,C,C-1,38.231842,140.797268,True
21,r3393,h_132,c_845,2018-06-05 11:44:17,2018-06-21,10:30:00,2018-06-24,1,61200,20400,C,C-1,38.231842,140.797268,True
22,r3598,h_132,c_896,2016-06-10 20:16:20,2016-07-10,12:00:00,2016-07-11,1,20400,20400,C,C-1,38.231842,140.797268,True
23,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,13100,C,C-1,38.233985,140.795603,True
24,r884,h_277,c_214,2016-10-24 16:01:51,2016-11-04,09:00:00,2016-11-05,1,13100,13100,C,C-1,38.233985,140.795603,True
25,r1907,h_277,c_471,2016-03-02 00:19:16,2016-03-18,10:00:00,2016-03-19,1,13100,13100,C,C-1,38.233985,140.795603,True
26,r32,h_287,c_4,2017-11-02 19:00:21,2017-11-05,10:00:00,2017-11-07,1,29000,14500,G,G-4,33.596284,130.638578,True
27,r88,h_287,c_15,2017-07-25 14:18:56,2017-07-29,10:00:00,2017-08-01,1,43500,14500,G,G-4,33.596284,130.638578,True
28,r1074,h_287,c_262,2017-08-16 16:55:42,2017-08-16,10:30:00,2017-08-19,1,43500,14500,G,G-4,33.596284,130.638578,True
29,r3340,h_287,c_835,2017-11-28 19:49:13,2017-12-06,11:30:00,2017-12-07,1,14500,14500,G,G-4,33.596284,130.638578,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,r2003,h_212,c_504,2016-04-26 22:19:57,2016-05-01,12:30:00,2016-05-04,1,36900,12300,A,A-1,35.818234,139.836906,True
417,r2478,h_212,c_620,2017-03-01 09:49:55,2017-03-31,11:00:00,2017-04-03,1,36900,12300,A,A-1,35.818234,139.836906,True
418,r2613,h_212,c_652,2017-08-12 18:16:58,2017-08-28,12:00:00,2017-08-29,1,12300,12300,A,A-1,35.818234,139.836906,True
419,r3486,h_212,c_867,2017-08-13 12:43:38,2017-08-22,11:00:00,2017-08-24,1,24600,12300,A,A-1,35.818234,139.836906,True
420,r3590,h_212,c_890,2016-08-28 01:16:23,2016-09-14,12:00:00,2016-09-15,1,12300,12300,A,A-1,35.818234,139.836906,True
421,r3712,h_212,c_926,2016-06-07 23:52:52,2016-06-30,09:00:00,2016-07-01,1,12300,12300,A,A-1,35.818234,139.836906,True
422,r2147,h_30,c_533,2016-12-27 09:07:34,2017-01-10,10:00:00,2017-01-12,1,15400,7700,A,A-1,35.714166,139.837670,True
423,r3307,h_30,c_829,2017-09-24 00:47:35,2017-10-12,09:30:00,2017-10-15,1,23100,7700,A,A-1,35.714166,139.837670,True
424,r2211,h_142,c_551,2016-07-19 23:03:03,2016-08-14,10:30:00,2016-08-17,1,27900,9300,C,C-3,38.431542,140.695469,True
425,r3159,h_142,c_796,2016-08-09 18:27:04,2016-09-03,09:30:00,2016-09-04,1,9300,9300,C,C-3,38.431542,140.695469,True
426,r3650,h_142,c_909,2016-08-02 21:47:41,2016-08-31,09:00:00,2016-09-03,1,27900,9300,C,C-3,38.431542,140.695469,True
427,r2308,h_103,c_577,2017-02-03 14:19:23,2017-03-05,10:00:00,2017-03-07,1,32400,16200,D,D-1,43.057680,141.416147,True
428,r2431,h_229,c_608,2016-12-24 12:08:44,2017-01-01,12:00:00,2017-01-03,1,14800,7400,E,E-1,35.183162,136.879920,True
429,r2704,h_229,c_681,2018-01-18 22:41:28,2018-02-02,09:30:00,2018-02-04,1,14800,7400,E,E-1,35.183162,136.879920,True
430,r2462,h_276,c_616,2016-08-12 00:24:25,2016-09-01,12:30:00,2016-09-03,1,79000,39500,B,B-1,35.437891,139.595387,True
431,r3035,h_276,c_766,2016-03-24 01:05:21,2016-04-06,12:30:00,2016-04-08,1,79000,39500,B,B-1,35.437891,139.595387,True
432,r2548,h_92,c_638,2016-06-17 04:42:24,2016-06-18,10:30:00,2016-06-20,1,68800,34400,E,E-4,35.284657,136.982667,True
433,r3262,h_92,c_821,2017-02-24 03:57:05,2017-03-01,12:30:00,2017-03-02,1,34400,34400,E,E-4,35.284657,136.982667,True
434,r2614,h_96,c_652,2017-11-17 16:35:23,2017-12-08,12:00:00,2017-12-09,1,7400,7400,C,C-1,38.234896,140.792601,True
435,r2635,h_29,c_660,2017-05-21 02:18:03,2017-06-01,09:00:00,2017-06-04,1,27900,9300,C,C-1,38.236610,140.891594,True
436,r2706,h_29,c_681,2018-06-13 07:23:05,2018-07-05,10:30:00,2018-07-08,1,27900,9300,C,C-1,38.236610,140.891594,True
437,r2690,h_93,c_678,2016-01-17 08:22:32,2016-02-02,09:00:00,2016-02-04,1,19600,9800,C,C-2,38.330964,140.898433,True
438,r3202,h_93,c_805,2016-07-17 15:17:41,2016-08-06,11:30:00,2016-08-09,1,29400,9800,C,C-2,38.330964,140.898433,True
439,r3771,h_93,c_939,2016-09-27 05:50:26,2016-10-10,12:30:00,2016-10-13,1,29400,9800,C,C-2,38.330964,140.898433,True
440,r2732,h_130,c_689,2016-04-30 19:58:28,2016-05-13,12:00:00,2016-05-15,1,50400,25200,B,B-3,35.636615,139.695805,True
441,r2766,h_56,c_698,2017-04-08 16:41:45,2017-05-03,12:30:00,2017-05-06,1,95700,31900,C,C-3,38.435640,140.898354,True
442,r2983,h_56,c_753,2016-06-18 23:17:50,2016-07-13,10:00:00,2016-07-14,1,31900,31900,C,C-3,38.435640,140.898354,True
443,r2839,h_231,c_715,2016-04-06 02:51:01,2016-04-08,09:00:00,2016-04-10,1,29200,14600,A,A-3,35.914151,139.837520,True
444,r3476,h_43,c_866,2016-09-17 21:09:02,2016-10-03,09:30:00,2016-10-04,1,18100,18100,B,B-1,35.437093,139.799077,True
445,r3539,h_262,c_880,2016-11-06 08:55:35,2016-11-11,12:30:00,2016-11-14,1,57000,19000,C,C-3,38.434114,140.697486,True

### 4.2 조건에 따라 테이블 변경하기

4.1의 연장선 조인하기 전에 결합할 테이블을 줄이는게 중간테이블을 작게해서 좀 더 효율적으로 동작하게 한다.

#### 복잡해서 일단 넘어감
#### 여기서 알아야 하건 조인 전 데이터를 작게 만든다.

In [2]:
# 가비지콜렉션(불필요한 메모리 해제)를 위한 라이브러리
import gc

# small_area_name별로 호텔 수를 계산
small_area_mst = hotel_tb \
  .groupby(['big_area_name', 'small_area_name'], as_index=False) \
  .size().reset_index()
small_area_mst.columns = ['big_area_name', 'small_area_name', 'hotel_cnt']

# 20건 이상이면 join_area_id에 small_area_name을 지정
# 20건 미만이면 join_area_id에 big_area_name을 지정
# -1로 자신을 제외
small_area_mst['join_area_id'] = \
  np.where(small_area_mst['hotel_cnt'] - 1 >= 20,
           small_area_mst['small_area_name'],
           small_area_mst['big_area_name'])

# 필요 없어진 열을 제거
small_area_mst.drop(['hotel_cnt', 'big_area_name'], axis=1, inplace=True)

# 추천 대상 호텔에 small_area_mst를 결합하여 join_area_id를 설정
base_hotel_mst = pd.merge(hotel_tb, small_area_mst, on='small_area_name') \
                   .loc[:, ['hotel_id', 'join_area_id']]

# 아래는 필요에 따라 메모리 해제(필수는 아니지만 메모리에 여유가 없을 때 이용)
del small_area_mst
gc.collect()

# recommend_hotel_mst는 추천 후보 테이블
recommend_hotel_mst = pd.concat([
  # join_area_id를 big_area_name으로한 추천 후보 마스터
  hotel_tb[['small_area_name', 'hotel_id']] \
    .rename(columns={'small_area_name': 'join_area_id'}, inplace=False),

  # join_area_id를 small_area_name으로한 추천 후보 마스터
  hotel_tb[['big_area_name', 'hotel_id']] \
    .rename(columns={'big_area_name': 'join_area_id'}, inplace=False)
])

# 결합 할 때 hotel_id 열 이름이 중복 되므로 변경
recommend_hotel_mst.rename(columns={'hotel_id': 'rec_hotel_id'}, inplace=True)

# base_hotel_mst와 recommend_hotel_mst를 결합하여 추천 후보의 정보를 부여
# query 함수로 추천 후보에서 자신을 제외
pd.merge(base_hotel_mst, recommend_hotel_mst, on='join_area_id') \
  .loc[:, ['hotel_id', 'rec_hotel_id']] \
  .query('hotel_id != rec_hotel_id')

     hotel_id rec_hotel_id
1         h_1         h_14
2         h_1         h_22
3         h_1         h_27
4         h_1         h_40
5         h_1         h_45
6         h_1         h_77
7         h_1         h_79
8         h_1         h_85
9         h_1         h_91
10        h_1        h_103
11        h_1        h_109
12        h_1        h_119
13        h_1        h_124
14        h_1        h_125
15        h_1        h_127
16        h_1        h_129
17        h_1        h_196
18        h_1        h_218
19        h_1        h_221
20        h_1        h_261
21        h_1        h_263
22        h_1        h_265
23        h_1        h_274
24        h_1        h_275
25        h_1        h_292
26       h_79          h_1
27       h_79         h_14
28       h_79         h_22
29       h_79         h_27
30       h_79         h_40
...       ...          ...
9633    h_174        h_281
9634    h_174        h_296
9635    h_220         h_13
9636    h_220         h_58
9637    h_220         h_61
9638    h_220         h_67
9639    h_220         h_70
9640    h_220         h_78
9641    h_220         h_87
9642    h_220         h_88
9643    h_220         h_95
9644    h_220        h_106
9645    h_220        h_128
9646    h_220        h_137
9647    h_220        h_149
9648    h_220        h_163
9649    h_220        h_165
9650    h_220        h_168
9651    h_220        h_169
9652    h_220        h_172
9653    h_220        h_174
9654    h_220        h_198
9655    h_220        h_206
9656    h_220        h_211
9658    h_220        h_224
9659    h_220        h_226
9660    h_220        h_249
9661    h_220        h_271
9662    h_220        h_281
9663    h_220        h_296

[9364 rows x 2 columns]

### 4.3 과거 데이터에서 정보 얻기

호텔 예약을 예측 할 때 과거 예약한 정보를 이용하면 유용할 것이다.

그래서 현재와 과거 데이터를 결합해서 새로운 행을 만든다.

하지만 무턱대고 한 최신 데이터에 모든 과거 데이터를 결합 시키는 것은 너무 방대해 지므로 비추천

그래서 두가지 방법으로 결합할 과거 데이터를 줄인다.

1. 결합 대상이 대는 과거의 기간을 줄인다.
2. 결합한 과거 데이터에 집약 함수를 사용하여 데이터 수가 늘어나지 않도록 한다.(예: 과거 데이터의 평균을 내서 결합시키는 방법. 이방법은 과거 데이터가 5년이던 10년이던 평균으로 바꾸기 때문에 결국 최신 데이터에 결합되는 데이터는 하나 이다.)

#### Q1 n건 전의 데이터 얻기

point. lag함수가 제공되지 않지만, shift 함수를 사용하여 lag 함수의 기능을 구현합니다. join 함수를 사용하는 것과 비교하여 코드가 짧고 불필요한 처리도 없는 좋은 코드.

sort_values ㅎ마수로 정렬하므로 계산 처리가 무겁다고 생각할 수 있지만, 정렬할 단위가 작게 나누어져 있는 고객 단위의 정렬 처리이므로 계산이무겁지는 않다.

In [4]:
# customer별로 reserve_datetime으로 정렬
# groupby 함수 뒤에 apply 함수를 적용하여 group별로 정렬
# sort_values 함수로 데이터를 정렬, axis가 0이면 행을, 1이면 열을 정렬
result = reserve_tb \
  .groupby('customer_id') \
  .apply(lambda group:
         group.sort_values(by='reserve_datetime', axis=0, inplace=False))

# result는 이미 customer_id 별로 그룹화 되어 있다
# customer별로 2건 이전의 total_price를 efore_price로 저장
# shift 함수는 periods의 파라미터의 수 만큼 데이터를 밑으로 옮기는 함수
result['before_price'] = \
    pd.Series(result['total_price'].shift(periods=2))
result

                 reserve_id hotel_id customer_id     reserve_datetime  \
customer_id
c_1         0            r1     h_75         c_1  2016-03-06 13:09:42
            1            r2    h_219         c_1  2016-07-16 23:39:55
            2            r3    h_179         c_1  2016-09-24 10:03:17
            3            r4    h_214         c_1  2017-03-08 03:20:10
            4            r5     h_16         c_1  2017-09-05 19:50:37
            5            r6    h_241         c_1  2017-11-27 18:47:05
            6            r7    h_256         c_1  2017-12-29 10:38:36
            7            r8    h_241         c_1  2018-05-26 08:42:51
c_10        58          r59    h_245        c_10  2016-06-20 11:10:52
            59          r60    h_102        c_10  2016-10-23 01:56:42
            60          r61     h_62        c_10  2017-03-12 00:45:50
            61          r62     h_21        c_10  2017-07-29 17:48:41
            62          r63    h_142        c_10  2017-09-11 19:41:28
            63          r64    h_112        c_10  2018-03-07 00:43:22
c_100       434        r435    h_245       c_100  2016-02-15 18:42:25
            435        r436    h_155       c_100  2016-06-06 13:31:31
            436        r437    h_179       c_100  2016-07-25 13:11:16
            437        r438    h_102       c_100  2017-01-27 03:26:39
            438        r439    h_272       c_100  2017-08-16 12:12:32
c_1000      4028      r4029     h_48      c_1000  2016-04-16 15:20:17
            4029      r4030    h_117      c_1000  2016-06-06 08:16:51
c_101       439        r440     h_64       c_101  2016-05-19 20:23:21
            440        r441     h_50       c_101  2016-11-12 17:20:07
            441        r442    h_265       c_101  2017-02-04 02:02:45
            442        r443    h_154       c_101  2017-07-26 03:44:09
            443        r444    h_215       c_101  2017-11-10 16:30:07
c_102       444        r445     h_72       c_102  2016-06-19 13:25:48
c_103       445        r446    h_234       c_103  2016-06-13 06:22:23
            446        r447    h_141       c_103  2016-08-30 17:20:01
            447        r448    h_164       c_103  2017-03-07 00:27:08
...                     ...      ...         ...                  ...
c_993       3998      r3999     h_72       c_993  2016-06-09 04:35:48
            3999      r4000    h_193       c_993  2016-09-08 21:27:41
            4000      r4001    h_253       c_993  2017-01-20 18:50:35
            4001      r4002    h_263       c_993  2017-02-20 16:13:02
            4002      r4003    h_262       c_993  2017-08-01 23:47:40
            4003      r4004    h_201       c_993  2017-08-31 01:33:58
c_994       4004      r4005    h_150       c_994  2016-03-25 11:51:26
c_995       4005      r4006    h_290       c_995  2016-05-14 21:35:27
            4006      r4007     h_76       c_995  2016-07-11 06:45:26
            4007      r4008     h_52       c_995  2016-11-02 06:42:54
            4008      r4009    h_213       c_995  2016-12-10 19:23:02
            4009      r4010     h_84       c_995  2017-02-04 02:00:05
            4010      r4011    h_137       c_995  2017-08-13 19:23:48
            4011      r4012     h_54       c_995  2018-03-08 03:54:07
            4012      r4013     h_13       c_995  2018-07-04 18:54:55
c_996       4013      r4014     h_27       c_996  2016-05-29 18:33:42
            4014      r4015    h_225       c_996  2016-12-03 21:40:17
            4015      r4016    h_239       c_996  2016-12-29 02:10:09
            4016      r4017     h_96       c_996  2017-06-19 11:26:29
            4017      r4018    h_204       c_996  2017-08-20 17:56:37
            4018      r4019    h_224       c_996  2017-12-10 19:39:53
            4019      r4020    h_243       c_996  2018-04-22 20:41:29
c_997       4020      r4021    h_159       c_997  2016-01-08 20:30:10
            4021      r4022    h_172       c_997  2016-05-13 09:08:55
c_999       4022      r4023      h_4       c_999  2016-04-21 21:50:14
            4023      r4024    h_244       c_999  2016-10-06 18:01:34
            4024      r4025    h_160       c_999  2017-03-11 11:56:05
            4025      r4026    h_129       c_999  2017-06-27 23:00:02
            4026      r4027     h_97       c_999  2017-09-29 05:24:57
            4027      r4028     h_27       c_999  2018-03-14 05:01:45

                 checkin_date checkin_time checkout_date  people_num  \
customer_id
c_1         0      2016-03-26     10:00:00    2016-03-29           4
            1      2016-07-20     11:30:00    2016-07-21           2
            2      2016-10-19     09:00:00    2016-10-22           2
            3      2017-03-29     11:00:00    2017-03-30           4
            4      2017-09-22     10:30:00    2017-09-23           3
            5      2017-12-04     12:00:00    2017-12-06           3
            6      2018-01-25     10:30:00    2018-01-28           1
            7      2018-06-08     10:00:00    2018-06-09           1
c_10        58     2016-07-08     11:00:00    2016-07-10           4
            59     2016-11-01     11:00:00    2016-11-03           3
            60     2017-04-08     10:00:00    2017-04-10           2
            61     2017-08-06     12:00:00    2017-08-08           4
            62     2017-09-13     10:00:00    2017-09-15           2
            63     2018-03-13     12:30:00    2018-03-14           3
c_100       434    2016-03-01     11:00:00    2016-03-02           1
            435    2016-06-17     09:00:00    2016-06-18           3
            436    2016-08-11     10:30:00    2016-08-13           3
            437    2017-02-17     11:00:00    2017-02-20           1
            438    2017-08-16     10:00:00    2017-08-18           2
c_1000      4028   2016-05-10     09:30:00    2016-05-13           4
            4029   2016-07-06     09:00:00    2016-07-09           1
c_101       439    2016-06-07     09:30:00    2016-06-08           4
            440    2016-11-12     11:30:00    2016-11-15           1
            441    2017-03-01     09:00:00    2017-03-04           2
            442    2017-07-26     12:30:00    2017-07-29           3
            443    2017-11-29     11:30:00    2017-11-30           1
c_102       444    2016-07-06     09:30:00    2016-07-08           2
c_103       445    2016-06-20     12:00:00    2016-06-22           1
            446    2016-09-17     12:00:00    2016-09-19           2
            447    2017-03-20     12:00:00    2017-03-22           1
...                       ...          ...           ...         ...
c_993       3998   2016-07-04     12:00:00    2016-07-07           1
            3999   2016-09-23     12:30:00    2016-09-25           2
            4000   2017-02-10     11:00:00    2017-02-12           1
            4001   2017-02-27     10:30:00    2017-02-28           3
            4002   2017-08-03     10:00:00    2017-08-05           3
            4003   2017-09-13     09:30:00    2017-09-15           3
c_994       4004   2016-04-02     09:00:00    2016-04-03           1
c_995       4005   2016-06-12     10:00:00    2016-06-15           4
            4006   2016-07-31     10:30:00    2016-08-03           4
            4007   2016-11-27     12:00:00    2016-11-28           3
            4008   2016-12-24     12:00:00    2016-12-25           4
            4009   2017-03-01     10:00:00    2017-03-04           2
            4010   2017-09-07     09:30:00    2017-09-09           1
            4011   2018-03-20     10:30:00    2018-03-22           1
            4012   2018-07-04     11:00:00    2018-07-05           2
c_996       4013   2016-06-11     12:00:00    2016-06-14           3
            4014   2016-12-22     11:30:00    2016-12-23           3
            4015   2017-01-14     10:30:00    2017-01-16           2
            4016   2017-07-05     10:30:00    2017-07-07           2
            4017   2017-09-06     12:30:00    2017-09-07           2
            4018   2017-12-20     11:30:00    2017-12-23           3
            4019   2018-05-21     12:00:00    2018-05-22           2
c_997       4020   2016-01-09     12:00:00    2016-01-11           2
            4021   2016-06-06     09:30:00    2016-06-08           3
c_999       4022   2016-04-22     12:00:00    2016-04-25           4
            4023   2016-10-07     11:30:00    2016-10-09           3
            4024   2017-03-27     10:00:00    2017-03-30           1
            4025   2017-07-10     09:30:00    2017-07-11           2
            4026   2017-10-09     10:30:00    2017-10-10           2
            4027   2018-04-02     11:30:00    2018-04-04           2

                  total_price  before_price
customer_id
c_1         0           97200           NaN
            1           20600           NaN
            2           33600       97200.0
            3          194400       20600.0
            4           68100       33600.0
            5           36000      194400.0
            6          103500       68100.0
            7            6000       36000.0
c_10        58         110400      103500.0
            59          36000        6000.0
            60         187200      110400.0
            61          89600       36000.0
            62          37200      187200.0
            63         117000       89600.0
c_100       434         13800       37200.0
            435         72300      117000.0
            436         33600       13800.0
            437         18000       72300.0
            438        113600       33600.0
c_1000      4028       540000       18000.0
            4029        44100      113600.0
c_101       439         64000      540000.0
            440         15300       44100.0
            441        111600       64000.0
            442         87300       15300.0
            443         15400      111600.0
c_102       444         38800       87300.0
c_103       445         11200       15400.0
            446         70800       38800.0
            447         25400       11200.0
...                       ...           ...
c_993       3998        29100       39600.0
            3999       234000       39200.0
            4000        10400       29100.0
            4001        68700      234000.0
            4002       114000       10400.0
            4003        53400       68700.0
c_994       4004        25200      114000.0
c_995       4005       190800       53400.0
            4006       110400       25200.0
            4007        81300      190800.0
            4008        20800      110400.0
            4009       146400       81300.0
            4010        12400       20800.0
            4011        25600      146400.0
            4012         9400       12400.0
c_996       4013       168300       25600.0
            4014        21600        9400.0
            4015       226000      168300.0
            4016        29600       21600.0
            4017        24200      226000.0
            4018        36000       29600.0
            4019        55400       24200.0
c_997       4020       258800       36000.0
            4021        96000       55400.0
c_999       4022        62400      258800.0
            4023        59400       96000.0
            4024        37200       62400.0
            4025        16000       59400.0
            4026        41800       37200.0
            4027        74800       16000.0

[4030 rows x 10 columns]

#### Q2 과거 n건의 합곗값

Q1는 단지 과거의 소비 한개만 구했는데 Q2는 과거 소비 n건의 합곗값을 구해 데이터 정확도를 높히려 함.(평균을 구하려고 하는 것이니 단편적인 하나의 값과 비교하는 것 보단 정확할 것이니..)

In [3]:
# customer_id별로 reserve_datetime으로 데이터 정렬
result = reserve_tb.groupby('customer_id') \
  .apply(lambda x: x.sort_values(by='reserve_datetime', ascending=True)) \
  .reset_index(drop=True)

# 새로운 열로 price_sum을 추가
result['price_sum'] = pd.Series(
    # 필요한 데이터열만 선택
    result.loc[:, ["customer_id", "total_price"]]

    # customer_id별로 total_price의 window3건의 합계값을 계산
    .groupby('customer_id')
    .rolling(center=False, window=3, min_periods=3).sum()

    # group화를 해제하면서 total_price의 열을 구함
    .reset_index(drop=True)
    .loc[:, 'total_price']
)
result

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,NaN
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,151400.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,248600.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,296100.0
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,298500.0
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,207600.0
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,145500.0
8,r59,h_245,c_10,2016-06-20 11:10:52,2016-07-08,11:00:00,2016-07-10,4,110400,NaN
9,r60,h_102,c_10,2016-10-23 01:56:42,2016-11-01,11:00:00,2016-11-03,3,36000,NaN
10,r61,h_62,c_10,2017-03-12 00:45:50,2017-04-08,10:00:00,2017-04-10,2,187200,333600.0
11,r62,h_21,c_10,2017-07-29 17:48:41,2017-08-06,12:00:00,2017-08-08,4,89600,312800.0
12,r63,h_142,c_10,2017-09-11 19:41:28,2017-09-13,10:00:00,2017-09-15,2,37200,314000.0
13,r64,h_112,c_10,2018-03-07 00:43:22,2018-03-13,12:30:00,2018-03-14,3,117000,243800.0
14,r435,h_245,c_100,2016-02-15 18:42:25,2016-03-01,11:00:00,2016-03-02,1,13800,NaN
15,r436,h_155,c_100,2016-06-06 13:31:31,2016-06-17,09:00:00,2016-06-18,3,72300,NaN
16,r437,h_179,c_100,2016-07-25 13:11:16,2016-08-11,10:30:00,2016-08-13,3,33600,119700.0
17,r438,h_102,c_100,2017-01-27 03:26:39,2017-02-17,11:00:00,2017-02-20,1,18000,123900.0
18,r439,h_272,c_100,2017-08-16 12:12:32,2017-08-16,10:00:00,2017-08-18,2,113600,165200.0
19,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,NaN
20,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,NaN
21,r440,h_64,c_101,2016-05-19 20:23:21,2016-06-07,09:30:00,2016-06-08,4,64000,NaN
22,r441,h_50,c_101,2016-11-12 17:20:07,2016-11-12,11:30:00,2016-11-15,1,15300,NaN
23,r442,h_265,c_101,2017-02-04 02:02:45,2017-03-01,09:00:00,2017-03-04,2,111600,190900.0
24,r443,h_154,c_101,2017-07-26 03:44:09,2017-07-26,12:30:00,2017-07-29,3,87300,214200.0
25,r444,h_215,c_101,2017-11-10 16:30:07,2017-11-29,11:30:00,2017-11-30,1,15400,214300.0
26,r445,h_72,c_102,2016-06-19 13:25:48,2016-07-06,09:30:00,2016-07-08,2,38800,NaN
27,r446,h_234,c_103,2016-06-13 06:22:23,2016-06-20,12:00:00,2016-06-22,1,11200,NaN
28,r447,h_141,c_103,2016-08-30 17:20:01,2016-09-17,12:00:00,2016-09-19,2,70800,NaN
29,r448,h_164,c_103,2017-03-07 00:27:08,2017-03-20,12:00:00,2017-03-22,1,25400,107400.0
...,...,...,...,...,...,...,...,...,...,...
4000,r3999,h_72,c_993,2016-06-09 04:35:48,2016-07-04,12:00:00,2016-07-07,1,29100,NaN
4001,r4000,h_193,c_993,2016-09-08 21:27:41,2016-09-23,12:30:00,2016-09-25,2,234000,302300.0
4002,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,273500.0
4003,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,313100.0
4004,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,193100.0
4005,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,236100.0
4006,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,NaN
4007,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,NaN
4008,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,NaN
4009,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,382500.0
4010,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,212500.0
4011,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,248500.0
4012,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,179600.0
4013,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,184400.0
4014,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,47400.0
4015,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,NaN
4016,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,NaN
4017,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,415900.0
4018,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,277200.0
4019,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,279800.0
4020,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,89800.0
4021,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,115600.0
4022,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,NaN
4023,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,NaN
4024,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,NaN
4025,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,NaN
4026,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,159000.0
4027,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,112600.0
4028,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,95000.0
4029,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,132600.0

#### Q3 과거 n건의 평균값

자신의 행을 포함하지 않고 한 건 이전의 데이터에서 세 건 이전까지의 평균 예약 금액을 첨부하고, 과거 예약 건수가 세 건 미만이면 존재하는 건수의 평균값을 계산한다.

예약이 한 건도 없으면 값을 가지지 않는다.

앞의 예제와 마찬가지로 rolling 함수를 사용하여 계산합니다. 하지만 rolling 함수는 자신의 데이터 행을 기준으로 한 선택만 할 수 있다.

In [4]:
# customer_id별로 reserve_datetime로 데이터 정렬
result = reserve_tb.groupby('customer_id') \
  .apply(lambda x: x.sort_values(by='reserve_datetime', ascending=True)) \
  .reset_index(drop=True)

# 새로운 열로 price_avg를 추가
result['price_avg'] = pd.Series(
  result
    # customer_id 별로 total_price의 window3건의 평균값을 계산
    # min_periods를 1로 설정하여 1건 이상이면 계산하도록 설정
    .groupby('customer_id')
    ['total_price'].rolling(center=False, window=3, min_periods=1).mean()

    # group화를 해제하면서 customer_id 열을 제거
    .reset_index(drop=True)
)

# customer_id별로 price_avg를 1행 아래로 이동
result['price_avg'] = \
  result.groupby('customer_id')['price_avg'].shift(periods=1)

result

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,price_avg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,97200.000000
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,58900.000000
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,50466.666667
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,82866.666667
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,98700.000000
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,99500.000000
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,69200.000000
8,r59,h_245,c_10,2016-06-20 11:10:52,2016-07-08,11:00:00,2016-07-10,4,110400,NaN
9,r60,h_102,c_10,2016-10-23 01:56:42,2016-11-01,11:00:00,2016-11-03,3,36000,110400.000000
10,r61,h_62,c_10,2017-03-12 00:45:50,2017-04-08,10:00:00,2017-04-10,2,187200,73200.000000
11,r62,h_21,c_10,2017-07-29 17:48:41,2017-08-06,12:00:00,2017-08-08,4,89600,111200.000000
12,r63,h_142,c_10,2017-09-11 19:41:28,2017-09-13,10:00:00,2017-09-15,2,37200,104266.666667
13,r64,h_112,c_10,2018-03-07 00:43:22,2018-03-13,12:30:00,2018-03-14,3,117000,104666.666667
14,r435,h_245,c_100,2016-02-15 18:42:25,2016-03-01,11:00:00,2016-03-02,1,13800,NaN
15,r436,h_155,c_100,2016-06-06 13:31:31,2016-06-17,09:00:00,2016-06-18,3,72300,13800.000000
16,r437,h_179,c_100,2016-07-25 13:11:16,2016-08-11,10:30:00,2016-08-13,3,33600,43050.000000
17,r438,h_102,c_100,2017-01-27 03:26:39,2017-02-17,11:00:00,2017-02-20,1,18000,39900.000000
18,r439,h_272,c_100,2017-08-16 12:12:32,2017-08-16,10:00:00,2017-08-18,2,113600,41300.000000
19,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,NaN
20,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,540000.000000
21,r440,h_64,c_101,2016-05-19 20:23:21,2016-06-07,09:30:00,2016-06-08,4,64000,NaN
22,r441,h_50,c_101,2016-11-12 17:20:07,2016-11-12,11:30:00,2016-11-15,1,15300,64000.000000
23,r442,h_265,c_101,2017-02-04 02:02:45,2017-03-01,09:00:00,2017-03-04,2,111600,39650.000000
24,r443,h_154,c_101,2017-07-26 03:44:09,2017-07-26,12:30:00,2017-07-29,3,87300,63633.333333
25,r444,h_215,c_101,2017-11-10 16:30:07,2017-11-29,11:30:00,2017-11-30,1,15400,71400.000000
26,r445,h_72,c_102,2016-06-19 13:25:48,2016-07-06,09:30:00,2016-07-08,2,38800,NaN
27,r446,h_234,c_103,2016-06-13 06:22:23,2016-06-20,12:00:00,2016-06-22,1,11200,NaN
28,r447,h_141,c_103,2016-08-30 17:20:01,2016-09-17,12:00:00,2016-09-19,2,70800,11200.000000
29,r448,h_164,c_103,2017-03-07 00:27:08,2017-03-20,12:00:00,2017-03-22,1,25400,41000.000000
...,...,...,...,...,...,...,...,...,...,...
4000,r3999,h_72,c_993,2016-06-09 04:35:48,2016-07-04,12:00:00,2016-07-07,1,29100,39200.000000
4001,r4000,h_193,c_993,2016-09-08 21:27:41,2016-09-23,12:30:00,2016-09-25,2,234000,34150.000000
4002,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,100766.666667
4003,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,91166.666667
4004,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,104366.666667
4005,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,64366.666667
4006,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,NaN
4007,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,NaN
4008,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,190800.000000
4009,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,150600.000000
4010,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,127500.000000
4011,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,70833.333333
4012,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,82833.333333
4013,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,59866.666667
4014,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,61466.666667
4015,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,NaN
4016,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,168300.000000
4017,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,94950.000000
4018,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,138633.333333
4019,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,92400.000000
4020,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,93266.666667
4021,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,29933.333333
4022,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,NaN
4023,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,258800.000000
4024,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,NaN
4025,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,62400.000000
4026,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,60900.000000
4027,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,53000.000000
4028,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,37533.333333
4029,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,31666.666667

#### Q4 과거 n일(day)의 합곗값

자신을 포함하지 않으면서 같은 고객의 지난 90일간의 합계 예약 금액 정보를 첨부한다.

중간 테이블이 꺼지기 때문에 좋은 코드는 아니다..(좋은 코드 예는 책에 없었음)

In [5]:
import pandas.tseries.offsets as offsets
import operator

# 시간 계산에 이용하기 위해 데이터형을 문자형에서 일시형으로 변환
# ("10장 일시형"에서 자세히 설명)
reserve_tb['reserve_datetime'] = \
  pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

# reserve_datetime의 날짜를 확인하지 않고 customer_id가 같은 데이터들을 모두 결합
sum_table = pd.merge(
	reserve_tb[['reserve_id', 'customer_id', 'reserve_datetime']],
  reserve_tb[['customer_id', 'reserve_datetime', 'total_price']]
            .rename(columns={'reserve_datetime': 'reserve_datetime_before'}),
  on='customer_id')

# checkin의 날짜를 비교하여 90일 이내의 데이터가 결합된 데이터만을 추출
# operator의 and_ 함수를 이용하여 결합 조건을 지정
# reserve_id 별로 total_price의 합을 계산
# (날짜 데이터 형식에 대해서는 "10장 일시형"에서 자세히 설명)
sum_table = sum_table[operator.and_(
  sum_table['reserve_datetime'] > sum_table['reserve_datetime_before'],
  sum_table['reserve_datetime'] + offsets.Day(-90) <= sum_table['reserve_datetime_before']
)].groupby('reserve_id')['total_price'].sum().reset_index()

# 열 이름을 설정
sum_table.columns = ['reserve_id', 'total_price_sum']

# 계산된 합을 결합하여 원본 테이불에 정보를 첨부
# 합계 값이 없는 레코드의 합계 값을 fillna를 이용하여 0으로 변환
pd.merge(reserve_tb, sum_table, on='reserve_id', how='left').fillna(0)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,total_price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,0.0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,0.0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,20600.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,0.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,0.0
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,68100.0
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,36000.0
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,0.0
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400,0.0
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400,0.0
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,0.0
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600,0.0
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,0.0
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600,0.0
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800,75600.0
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400,68800.0
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000,0.0
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,0.0
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600,20400.0
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200,390600.0
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900,408800.0
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800,0.0
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400,0.0
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000,0.0
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,0.0
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,39300.0
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800,20400.0
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800,0.0
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000,52800.0
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000,0.0
...,...,...,...,...,...,...,...,...,...,...
4000,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,0.0
4001,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,10400.0
4002,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,0.0
4003,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,114000.0
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,0.0
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,0.0
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,190800.0
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,0.0
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,81300.0
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,20800.0
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,0.0
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,0.0
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,0.0
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,0.0
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,0.0
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,21600.0
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,0.0
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,29600.0
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,0.0
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,0.0
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,0.0
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,0.0
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,0.0
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,0.0
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,0.0
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,0.0
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,0.0
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,0.0
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,0.0
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,540000.0

### 4.4 상호 결합

말이 어렵게 나와서 그렇지 그냥 조인에서 키를 지정하지 않고 테이블을 결합하는 것을 말함.

파이썬에는 상호 결합을 위한 함수가 제공되지 않아서 모든 값이 같은 결합키를 준비 해야 된다.

억지로 상호 결합해서 코드가 지져분 함. SQL을 이용하는 것이 나음

In [7]:
# 날짜형을 위한 라이브러리
import datetime
# 날짜를 계산하기위한 라이브러리
from dateutil.relativedelta import relativedelta

# 연월 마스터 테이블 생성
month_mst = pd.DataFrame({
  'year_month':
    # relativedelta로 2017-01-01을 x월간 보낸다. x에는 0,1,2를 대입
    # 2017-01-01, 2017-02-01, 2017-03-01의 리스트 생성
    [(datetime.date(2017, 1, 1) + relativedelta(months=x)).strftime("%Y%m")
     for x in range(0, 3)]
})

# cross join을 위해 모두 같은 값을 가지는 결합키를 준비
customer_tb['join_key'] = 0
month_mst['join_key'] = 0

# customer_tb와 month_mst를 준비한 결합키로 내부 결합하여 상호 결합을 구현
customer_mst = pd.merge(
  customer_tb[['customer_id', 'join_key']], month_mst, on='join_key'
)

# 예약 테이블에/로? 연월의 결합키를 준비
reserve_tb['year_month'] = reserve_tb['checkin_date'] \
  .apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d').strftime("%Y%m"))

# 예약 레코드와 결합하여 이용 금액 합계를 계산
summary_result = pd.merge(
  customer_mst,
  reserve_tb[['customer_id', 'year_month', 'total_price']],
  on=['customer_id', 'year_month'], how='left'
).groupby(['customer_id', 'year_month'])["total_price"] \
 .sum().reset_index()

# 예약 레코드가 없을 때 합계 금액을 값이 없음에서 0으로 변환
summary_result.fillna(0, inplace=True)
summary_result

     customer_id year_month  total_price
0            c_1     201701          0.0
1            c_1     201702          0.0
2            c_1     201703     194400.0
3           c_10     201701          0.0
4           c_10     201702          0.0
5           c_10     201703          0.0
6          c_100     201701          0.0
7          c_100     201702      18000.0
8          c_100     201703          0.0
9         c_1000     201701          0.0
10        c_1000     201702          0.0
11        c_1000     201703          0.0
12         c_101     201701          0.0
13         c_101     201702          0.0
14         c_101     201703     111600.0
15         c_102     201701          0.0
16         c_102     201702          0.0
17         c_102     201703          0.0
18         c_103     201701          0.0
19         c_103     201702          0.0
20         c_103     201703      25400.0
21         c_104     201701          0.0
22         c_104     201702          0.0
23         c_104     201703          0.0
24         c_105     201701          0.0
25         c_105     201702          0.0
26         c_105     201703          0.0
27         c_106     201701          0.0
28         c_106     201702          0.0
29         c_106     201703      85500.0
...          ...        ...          ...
2970       c_990     201701     146800.0
2971       c_990     201702          0.0
2972       c_990     201703          0.0
2973       c_991     201701          0.0
2974       c_991     201702          0.0
2975       c_991     201703          0.0
2976       c_992     201701      71200.0
2977       c_992     201702          0.0
2978       c_992     201703      39600.0
2979       c_993     201701          0.0
2980       c_993     201702      79100.0
2981       c_993     201703          0.0
2982       c_994     201701          0.0
2983       c_994     201702          0.0
2984       c_994     201703          0.0
2985       c_995     201701          0.0
2986       c_995     201702          0.0
2987       c_995     201703     146400.0
2988       c_996     201701     226000.0
2989       c_996     201702          0.0
2990       c_996     201703          0.0
2991       c_997     201701          0.0
2992       c_997     201702          0.0
2993       c_997     201703          0.0
2994       c_998     201701          0.0
2995       c_998     201702          0.0
2996       c_998     201703          0.0
2997       c_999     201701          0.0
2998       c_999     201702          0.0
2999       c_999     201703      37200.0

[3000 rows x 3 columns]

# 5장 분할

데이터 분할은 예측 모델을 평가 할 때 필요한 전처리

주로 학습 데이터와 검증 데이터를 분리할 때 사용

### 5.1 모델 검증을 위한 데이터 레코드 분할

가장 많이 사용되는 검증 방법은 교차 검증

교차 검증은 정확도를 검증하기 좋은 방법이지만 과학습 우려가 있다.

그래서 최종 정확도 검증을 위한 데이터를 미리 준비해 두고, 이 데이터를 사용하여 모델의 정확도를 검증해 해결한다.

이를 '홀드 아웃' 검증이라 한다.

### Q1 교차 검증

데이터셋은 제조 레코드를 사용

데이터의 20%를 홀드 아웃 검증을 위한 데이터로 확보

sklean 라이브러리의 train_test_split 함수와 KFold 함수를 이용

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

# 홀드아웃 검증을 위한 데이터 분할
# 예측 모델의 입력값과 예측 대상의 값을 각각 train_test_split 함수에 설정
# test_size는 검증 데이터의 배율
train_data, test_data, train_target, test_target = \
  train_test_split(production_tb.drop('fault_flg', axis=1),
                   production_tb[['fault_flg']],
                   test_size=0.2)

# train_test_split로 행 이름을 현재의 행번호로 바꿈
train_data.reset_index(inplace=True, drop=True)
test_data.reset_index(inplace=True, drop=True)
train_target.reset_index(inplace=True, drop=True)
test_target.reset_index(inplace=True, drop=True)

# 대상 행번호 리스트를 생성
row_no_list = list(range(len(train_target)))

# 교차 검증을 위한 데이터 분할
k_fold = KFold(n_splits=4, shuffle=True)

# 교차수 만큼 반복 처리, 병렬처리도 가능한 부분
for train_cv_no, test_cv_no in k_fold.split(row_no_list):

  # 교차 검증에 사용할 학습 데이터 추출
  train_cv = train_data.iloc[train_cv_no, :]

  # 교차 검증에 사용할 검증 데이터 추출
  test_cv = train_data.iloc[test_cv_no, :]

  # train_data와 train_target를 학습 데이터로,
  # test_data와 test_target을 검증 데이터로 기계 학습 모델의 구축, 검증

# 교차 검증의 결과 정리

# train을 학습 데이터로, private_test를 검증 데이터로 하여 기계 학습 모델의 구축, 검증한다.
train_cv,test_cv

(    type      length  thickness
 0      D  169.132758  10.727561
 1      E  273.481971  28.997640
 2      D  184.366258  12.497004
 3      B  227.904841  25.909042
 5      E  157.480341  31.257903
 6      A  142.414845  18.913024
 7      C  158.270086   2.850711
 8      A  123.975741  11.118851
 10     D  157.463166  11.166165
 11     C  300.275912  57.287385
 12     C  444.679313  42.013577
 15     D  177.697449   8.750184
 16     A  118.002857  19.610153
 17     A  172.474050   6.085524
 18     A  131.849213   4.721601
 20     B  266.171260  29.037767
 22     D  223.899418  33.025778
 23     C  185.747823  12.439603
 25     D  100.646582   1.139096
 27     D   86.782191   8.605864
 28     E  186.373145   3.879607
 29     A   91.531846  16.123242
 32     B  184.785742   6.821274
 33     B  175.554886  16.414924
 36     A  172.624369   1.798477
 37     D  208.468314  27.627507
 39     E  190.390971   2.801754
 40     A  153.103265  24.751169
 41     B  200.231288  38.904750
 43     A  123.660974   8.136955
 ..   ...         ...        ...
 766    D  182.728336  14.346275
 769    D  141.542760  12.745501
 770    D  169.495257  29.855163
 771    B  231.174985   7.087471
 772    D  199.458127  30.298297
 774    D  194.556116  20.003610
 775    C  369.062715  55.147806
 776    C  213.602359   1.402310
 777    E  156.238014  23.344983
 778    C  228.243946   6.422049
 779    A   77.415044  14.053356
 780    C  431.991679  57.106135
 781    A  180.330062  16.653608
 782    A   89.644397   6.339574
 783    D  152.050955  15.942663
 784    E  233.539143  35.463322
 785    C  173.168558  12.863150
 786    D   88.686507   0.810419
 787    B  276.993220   9.037741
 789    E  245.131045  23.560772
 790    A  196.012482  36.405093
 791    C  312.121269  61.483167
 792    E  265.878251  33.734548
 793    E  143.654515  25.142006
 794    C  449.359068  41.348673
 795    D  223.806149  19.650766
 796    D  205.264827  13.778084
 797    D  196.474358   3.077979
 798    E  111.992565  14.126904
 799    D  171.255854  23.889027

 [600 rows x 3 columns],     type      length  thickness
 4      C  318.010527  54.193050
 9      A   85.319155   7.214485
 13     D  212.243506   4.676826
 14     C  442.745568  14.818581
 19     B  172.477456  33.779951
 21     D  154.638510  17.594583
 24     A  137.452046  17.440967
 26     E  209.295679   2.094648
 30     A  108.306386   2.443204
 31     A  133.685011   4.270683
 34     B  135.839423  23.635717
 35     E  107.370813  10.491343
 38     B  275.927290  10.257870
 42     C  315.310144  23.896896
 45     D  134.773797  26.861665
 63     B  113.226678   4.518663
 66     E  171.151584  21.019763
 71     C  165.898030  24.549248
 72     D  177.681362   7.992052
 74     D  135.062182   1.416365
 76     A  113.245094  11.462704
 82     B  227.136493   4.610205
 83     B  216.005974  17.940919
 84     D  222.368079  42.858009
 85     A   81.478578   8.840798
 88     D  126.250428   6.826802
 89     C  182.666549   1.721191
 92     E  243.881589   8.829334
 94     C  168.666138  15.671282
 95     C  212.535169  28.702218
 ..   ...         ...        ...
 645    E  286.536920   5.375502
 662    A   80.736132   5.970339
 664    E  106.002517   8.597324
 665    D  150.709073   7.598372
 667    D  149.166524  18.915563
 672    B  140.825485   2.833781
 674    D   83.324519  11.788731
 677    A   77.719726   4.211962
 679    A  178.397448  29.412649
 681    E  218.310352  39.578553
 691    C  224.027955  12.346579
 694    E  291.647766  49.785923
 701    B  273.454092  51.796368
 704    B  289.433864  52.838921
 706    B  110.281806   7.305178
 707    A  208.423057  13.938914
 712    B  108.038854  15.539570
 713    C  224.496555  16.608346
 716    D   95.300623  12.139419
 717    A  154.875473  26.928495
 738    B  244.934740  29.061081
 740    A  167.059723   0.180052
 744    A   75.883626   0.274571
 752    E  179.644728   4.741571
 753    C  441.193604  37.619335
 763    C  308.082480   1.324232
 767    A  221.056078  34.479683
 768    E  107.824001  17.042817
 773    C  183.058351   2.628463
 788    E  124.657211   4.912748

 [200 rows x 3 columns])

### 5.2 모델 검증을 위한 시간 데이터 분할

무작위로 분할한 교차 검증은 미래와 과거의 데이터가 섞여 시간 데이터용으로는 좋지 않음

시간에 따른 변화를 담지 못함

그래서 시간 데이터로 예측 모델을 구축할 때는 기본적으로 학습 데이터와 검증 데이터 기간을 이동하면서 검증해야 된다.

### Q1 학습 및 검증을 위한 시간 데이터 준비

데이터 셋은 월별 운영 지표를 사용

월별데이터 레코드에서 학습 데이터와 검증 데이터르 시간축을 기분으로 한 달 씩 이동하면서 생성

파이썬에는 시간 데이터 분할을 쉽게 구현할 수 있는 라이브러리가 없기 떄문에 직접 구현 해야 됨

In [13]:
# train_window_start에 맨 처음 학습 데이터의 시작 행 번호를 지정
train_window_start = 1
# train_window_end에 맨 처음 학습 데이터의 종류 행 번호를 지정
train_window_end = 24
# horizon에 검증 데이터의 데이터 수를 지정
horizon = 12
# skip에 이동할 데이터 수를 설정
skip = 12

# 연월을 기준으로 데이터 정렬
monthly_index_tb.sort_values(by='year_month')

while True:
  # 검증 데이터의 종료 행 번호를 계산
  test_window_end = train_window_end + horizon

  # 행 번호를 지정하여 원본 데이터에서 학습 데이터를 구함
  # train_window_start를 1로 고정하면 학습 데이터를 늘려나가는 검증으로 변환 가능
  train = monthly_index_tb[train_window_start:train_window_end]

  # 행 번호를 지정하여 원본 데이터에서 검증 데이터를 구함
  test = monthly_index_tb[(train_window_end + 1):test_window_end]

  # 검증 데이터의 종료 행 번호가 원본 데이터의 행 수 이상인지 판정
  if test_window_end >= len(monthly_index_tb.index):
    # 모든 데이터를 처리했으면 종료
    break

  # 데아터를 이동 시킨다
  train_window_start += skip
  train_window_end += skip

# 교차 검증의 결과 정리

# 6장 생성

데이터가 불균형 할 때 이를 조정하기 위해 데이터를 늘리거나 줄이는 것이 필요

예: 정상 데이터는 100만 건이지만 장애 데이터는 100건 정도 밖에 없는 불균형 데이터

불균형한 데이터를 대처하는 방법
1. 머신러닝 모델을 만들 때 가중치를 부여
2. 데이터를 변경하여 불균형한 상태를 해소(적은 데이터를 늘리거나(오버샘플링), 많은 데이터를 줄이거나(언더샘플링), 두가지 모두 사용하는  방법)

### 6.1 언더샘플링으로 데이터 불균형 조정하기

오버샘플링과 비교해서 비교적 쉬운 작업

데이터를 제거 하면 되니 생성보단 쉽다.

하지만 정보량을 적게 만드는 방법이기 때문에 사용하지 않는 편이 좋다.

되도록이면 오버 샘플링을 사용한다. 다만 적은 데이터에서 대량의 오버샘플링은 과적합을 일으킬 수 있다.

### 6.2 오버샘플링으로 데이터 불균형 조정하기

대표적 오버샘플링 기법으로 SMTOE가 있다

SMOTE로 생성된 데이터는 원본 데이터와 같은 특성을 유지하면서 약간의 노이즈를 더한 데이터이다

단점은 차원수(생성할 데이터의 열수)가 큰 경우에는 편중된 샘플링이 되기 쉽다

차원수가 큰 경우엔 언더 샘플링과 배깅을 조합하여 예측 모델을 구축하는 편이 안정적

### Q1 오버 샘플링

데이터 셋은 제조 레코드를 사용한다.

정상 레코드가 972건 장애 레코드가 72건

장애 레코드를 SMOTE로 오버 샘플링 하여 정상 레코드의 건수에 가깝게 만든다.

In [3]:
# 쥬피터 노트북 관리자로 켜야함
!pip install imblearn

Collecting imblearn
  Using cached https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn (from imblearn)
  Using cached https://files.pythonhosted.org/packages/c8/81/8db4d87b03b998fda7c6f835d807c9ae4e3b141f978597b8d7f31600be15/imbalanced_learn-0.7.0-py3-none-any.whl
Requirement already satisfied: scipy>=0.19.1 in c:\users\jang_home\kaggle_venv368\lib\site-packages (from imbalanced-learn->imblearn) (1.2.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jang_home\kaggle_venv368\lib\site-packages (from imbalanced-learn->imblearn) (1.16.1)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\jang_home\kaggle_venv368\lib\site-packages (from imbalanced-learn->imblearn) (0.23.2)
Requirement already satisfied: joblib>=0.11 in c:\users\jang_home\kaggle_venv368\lib\site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\jang_home\kaggle_venv368\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.7.0 imblearn-0.0

You are using pip version 19.0.3, however version 20.3b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [10]:
# SMOTE 함수를 라이브러리에서 읽어 들임
from imblearn.over_sampling import SMOTE

# SMOTE 함수 설정
# ratio는 불균형 데이터의 적은 열의 데이터를 많은 열의 몇 할 까지 늘릴지 설정
# ( auto는 수가 같아질 때 까지 늘림, 0.5로 설정하면 5할 까지 데이터를 늘림)
# k_neighbors는 smote의 k파라미터
# random_state는 난수의 시드 ( 난수 생성 패턴의 원본 값)
sm = SMOTE(sampling_strategy=0.5, k_neighbors=5, random_state=71)

# 오버 샘플링 실행
blance_data, balance_target = \
  sm.fit_sample(production_tb[['length', 'thickness']],
                production_tb['fault_flg'])
blance_data, balance_target

(          length  thickness
 0     274.027383  40.241131
 1      86.319269  16.906715
 2     123.940388   1.018462
 3     175.554886  16.414924
 4     244.934740  29.061081
 5     226.426514  39.763801
 6     331.637671  16.835567
 7     200.865444  12.184256
 8     276.386631  29.899611
 9     168.441213   1.265919
 10    218.139165  33.135427
 11    215.178995  41.759894
 12    218.037811  11.836329
 13    218.310352  39.578553
 14    207.823248  38.702627
 15    286.536920   5.375502
 16    239.283737  18.941826
 17    373.654939  11.254801
 18    200.111625  17.974269
 19    326.174734  44.307852
 20    157.572584   0.409495
 21    150.217451   8.682430
 22    358.604996  25.700388
 23    269.006490  16.957546
 24    202.549369   7.907286
 25    223.806149  19.650766
 26    263.844324  34.664251
 27    169.690602  31.172464
 28    131.849213   4.721601
 29    128.989765  16.523241
 ...          ...        ...
 1392   83.584915   5.334294
 1393  110.968402   4.728492
 1394  133.766194  17.007960
 1395  206.138216  36.666648
 1396  185.243294  15.453714
 1397  150.179349   4.087423
 1398   97.737573   3.694133
 1399   83.533873  13.784678
 1400  110.320751  19.096437
 1401   95.240829   9.624968
 1402  204.419380  33.415700
 1403  118.315825   6.585589
 1404  218.872079  22.551208
 1405  181.380361  10.283089
 1406  111.176057  16.478017
 1407   81.761390  11.317459
 1408  135.650887  14.765715
 1409   83.699785   3.109482
 1410  281.918886  19.960274
 1411   98.118435   4.192127
 1412  144.583581   2.177463
 1413  102.461051  10.738977
 1414  226.729664   9.785535
 1415   78.237436   8.099485
 1416  150.746503   3.001832
 1417  111.317456  18.224166
 1418  183.062783   2.636028
 1419   82.567069   1.448347
 1420  125.733359   4.884146
 1421   76.101075   3.447262

 [1422 rows x 2 columns], 0       False
 1       False
 2       False
 3       False
 4       False
 5       False
 6       False
 7       False
 8       False
 9       False
 10      False
 11      False
 12      False
 13      False
 14      False
 15      False
 16      False
 17      False
 18      False
 19      False
 20      False
 21      False
 22      False
 23      False
 24      False
 25      False
 26      False
 27      False
 28       True
 29      False
         ...
 1392     True
 1393     True
 1394     True
 1395     True
 1396     True
 1397     True
 1398     True
 1399     True
 1400     True
 1401     True
 1402     True
 1403     True
 1404     True
 1405     True
 1406     True
 1407     True
 1408     True
 1409     True
 1410     True
 1411     True
 1412     True
 1413     True
 1414     True
 1415     True
 1416     True
 1417     True
 1418     True
 1419     True
 1420     True
 1421     True
 Name: fault_flg, Length: 1422, dtype: bool)

# 7장 전개


책에 말이 어렵게 쓰여있지만 집계한 값들을 가로로 나열하는 것을 말한다.

연령대, 남성 수, 여성 수 등...

### Q.1 가로 데이터 변환

데이터 셋은 호텔 예약 레코드를 사용한다.

팬더스 라이브러리에는 가로 데이터로 변환하기 위한 pivot_table 함수가 제공 된다.

In [2]:
pd.pivot_table(reserve_tb, index='customer_id', columns='people_num',
               values='reserve_id',
               aggfunc=lambda x: len(x), fill_value=0)

people_num   1  2  3  4
customer_id
c_1          2  2  2  2
c_10         0  2  2  2
c_100        2  1  2  0
c_1000       1  0  0  1
c_101        2  1  1  1
c_102        0  1  0  0
c_103        3  1  2  2
c_104        0  0  1  1
c_105        0  1  1  0
c_106        2  1  2  0
c_107        3  0  1  1
c_108        4  3  1  0
c_109        0  1  1  1
c_11         1  2  1  4
c_110        0  1  1  0
c_111        0  1  0  0
c_112        1  2  1  2
c_113        0  0  0  1
c_114        1  3  2  2
c_118        3  0  2  1
c_119        1  1  2  4
c_12         1  1  1  0
c_120        2  2  3  1
c_121        1  0  0  1
c_122        4  1  1  0
c_124        2  4  1  1
c_125        0  0  0  2
c_126        2  0  2  0
c_128        0  3  1  3
c_129        2  1  1  1
...         .. .. .. ..
c_97         0  2  2  3
c_970        0  1  4  3
c_971        1  1  0  0
c_972        1  1  3  0
c_973        0  2  0  1
c_975        1  0  5  1
c_976        3  0  1  1
c_977        0  1  0  0
c_978        0  0  0  1
c_979        1  2  3  1
c_98         2  2  0  1
c_980        0  0  3  3
c_981        1  2  0  2
c_982        0  3  2  1
c_983        3  1  2  0
c_984        0  2  0  0
c_985        2  2  2  0
c_986        1  0  3  1
c_987        0  2  2  2
c_988        2  1  4  1
c_989        0  0  1  1
c_99         1  1  2  4
c_990        1  0  0  2
c_992        2  0  1  3
c_993        2  2  3  0
c_994        1  0  0  0
c_995        2  2  1  3
c_996        0  4  3  0
c_997        0  1  1  0
c_999        1  3  1  1

[888 rows x 4 columns]

### Q.2 희소 행렬로 변환

데이터 특성에 따라 가로 데이터로 변환하면 데이터 크기가 커지는 경우가 있다.

그 경우가 변환 할 때 희소 행렬이 되는 경우

희소 행렬이란 대부분 요소의 값이 0이고 극히 일부만 값을 가지는 거대한 행렬(표)를 말함

가로 데이터로 표현 할 때는 요소의 값이 0이어도 행렬을 표시해야 하기 때문에 열 수가 매우 많아 진다.

In [9]:
# 희소행렬 라이브러리 불러오기
from scipy.sparse import csc_matrix

# 고객 ID / 투숙객 수 별 예약 건수의 표를 생성
cnt_tb = reserve_tb \
  .groupby(['customer_id', 'people_num'])['reserve_id'].size() \
  .reset_index()
cnt_tb.columns = ['customer_id', 'people_num', 'rsv_cnt']

# sparseMatrix의 행/ 열에 해당하는 열의 값을 카테고리 형으로 변환
# 카테고리 형에 대해서는 "9장 카테고리형"에서 자세하ㅣ 설명
customer_id = pd.Categorical(cnt_tb['customer_id'])
people_num = pd.Categorical(cnt_tb['people_num'])

# 희소 행렬 생성
# 첫 번째 파라미터에는 지정한 행렬에 해당하는 값, 행 번호, 열 번호의 배열을 묶으은 튜플을 지정
# shape에는 희소 행렬의 크기를 지정(행 / 열의 수를 튜플로 지정)
# （customer_id.codes로 인덱스 번호를 구함）
# （len(customer_id.categories)로 customer_id의 유일한 수를 구함）
csc_matrix((cnt_tb['rsv_cnt'], (customer_id.codes, people_num.codes)),
           shape=(len(customer_id.categories), len(people_num.categories))).toarray()

array([[2, 2, 2, 2],
       [0, 2, 2, 2],
       [2, 1, 2, 0],
       ...,
       [0, 4, 3, 0],
       [0, 1, 1, 0],
       [1, 3, 1, 1]], dtype=int64)